/**
 * Meta boxes and other styling for admin
 */

/* Core bug for themes page */
.themes-php .notice {
	display: block;	
}

/**
 * Customizer Controls
 */
.customize-control-typography .sub-label {
	width: 20%;
	display: inline-block;
}

.customize-control-typography + .customize-control-typography {
	margin-top: 5px;
	border-top: 1px solid #d9d9d9;
	padding-top: 15px;
}

.button.reset-customizer {
	margin-top: 10px;	
}

#customize-control-home_carousel {
	margin-top: 10px;
	border-top: 1px solid #d9d9d9;
	padding-top: 15px;	
}


/* Customizer 4.5 preview for tablets matching iPad */
.wp-customizer .preview-tablet .wp-full-overlay-main {
	margin-left: -384px;
	width: 768px;
	height: 1024px;
}

/* Matching iPhone 6 */
.wp-customizer .preview-mobile .wp-full-overlay-main {
	margin-left: -207px;
	width: 414px;
	height: 736px;
}

/* Show Desc */
#sub-accordion-panel-sphere-social-followers .customize-info .description {
	display: block;
}


/**
 * Dashboard
 */
.ts-dash .nav-tab-wrapper {
	margin-top: 0;
}

.ts-dash-box.activate-box {
	border-color: #008ec2;
}

.ts-dash .about-text {
	margin-right: 0;	
}

.ts-dash h1 {
	margin-top: 34px;
	font-size: 33px;
	margin-bottom: 25px;
	
}

.ts-dash .about-text p {
	font-size: 16px;
	line-height: 1.6;
}

.ts-dash-box {
	position: relative;
	margin: 16px 0;
	margin-bottom: 35px;
	padding: 25px;
	border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	background: #fff;
	font-size: 13px;
	line-height: 2.1em;
	overflow: hidden;
}

.ts-dash-box .button-hero {
	margin-top: 8px;
}

.ts-dash-box .content {
	position: relative;
}

.ts-dash-box .bg {
	position: absolute;
	z-index: 0;
	right: 220px;
	top: -15px;
	font-size: 270px;
	color: #006799;
	opacity: 0.05;
}

.ts-dash-box h3 {
	margin-top: 0;
}

.ts-dash-box ol {
	font-size: 14px;
}

.ts-dash-box li {
	margin-bottom: 3px;
}

.ts-dash-box p {
	max-width: initial;
	line-height: 1.6;
}

.ts-support-info hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

.ts-support-info .dashicons {
	vertical-align: middle;
	margin-bottom: 6px;
	margin-right: 12px;
	margin-left: -4px;
	color: #0084b9;
	font-size: 24px;
}

.ts-support-info .button {
	margin-top: 10px;
}
