body{
	padding: 0;
	margin: 0;
	min-width: 320px;
    background: #fff;
    /*font-family: 'Amino10',sans-serif;*/
    font-size: 16px;
    line-height: 1.42;
    /*color: #293737;*/
    font-weight: 300;
    font-family: 'Product-Sans';
  	font-style:normal;
	line-height: 170%;
	
}



/* profile dropdown */
.user-dropdown-img, .user-dropdown-img:hover{
  background: #08BD51;
  margin-top:0 !important;
}
.user-dropdown-img img{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  line-height: 40px;
  object-fit: cover;
  background: #eee center no-repeat;
}
.user-dropdown-img .company-name{
  padding-left: 60px !important;
  line-height: .42 !important; 
  padding-bottom:15px;
  color: #fff;
}
.user-dropdown-img .user-name{
  color: #fff;
  /*font-family: 'Amino-Regular5', sans-serif;*/
}
.no-profile-drop-border .nav-link:focus{
  border:none;
  outline: none;
  box-shadow: none;
}
.small-screen-profile{
  position: relative;
  z-index: 1000;
  top: -5%;
  left: 0%;
  padding-bottom:5px;
  border-bottom: 1px solid rgb(141, 141, 141);
}
.small-screen-profile div{
  position: absolute;
  /* bottom: 0% !important; */
  margin-top:-69px;
  left: 10%;
  padding-bottom: 5px;
}
.small-screen-profile img{

  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  line-height: 40px;
  object-fit: cover;
  background: #ddd center no-repeat;
}
.small-screen-profile .small-screen-company-name{
  color:#ddd !important;
  display: block !important;
  /*font-family: 'Amino-Regular4', sans-serif;*/
  padding-left: 60px !important;
  margin-top: -5px !important;
  padding-bottom: 5px !important;
  line-height: .42 !important; 
  font-size:.9em;
}
.small-screen-profile .small-screen-user-name{
  color:#ddd !important;
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size:.9em;
}
.small-screen-profile  #small-screen-logout{
  color:#ddd !important;
  /*font-family: 'Amino-Regular7', sans-serif !important;*/
  text-decoration: underline;
  padding-left: 60px !important;
  font-size:.87em;
}
/* ------- */
a:hover,.btn-link:hover{text-decoration:none;}

button {
	outline: none;
	border:none !important;
}
button:focus {
	border:none !important;
	outline: none !important;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url('../images/bg/down.svg');
}
.orders::placeholder {
  color: #fff !important;
  opacity: 1; /* Firefox */
}

.orders:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff !important;
}

.orders::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff !important;
}


  /* =============body============== */
  .body-bg{
      background: url('../images/shutterstock_285109457.jpg') no-repeat;
      background-size: cover;
      position: relative;
      padding-bottom: 8em;
      background-position: left 0px top -140px;

  }
  .body-bg:before{
      content: " ";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .72;
      position: absolute;
      background: -moz-linear-gradient(80deg, #0BA717 45%, #ACBB16 100%);/* FF3.6+ */
      background: -webkit-gradient(linear, 80deg, color-stop(45%, 0BA717), color-stop(100%, ACBB16));/* Chrome,Safari4+ */
      background: -webkit-linear-gradient(80deg, #0BA717 45%, #ACBB16 100%);/* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(80deg, #0BA717 45%, #ACBB16 100%);/* Opera 11.10+ */
      background: -ms-linear-gradient(80deg, #0BA717 45%, #ACBB16 100%);/* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
      background: linear-gradient(80deg, #0BA717 45%, #ACBB16 100%);/* W3C */
  }
  /* ========search botton=========== */
  .pull-mobile{
    position: relative;
    right:-2vw;
  }

  .sub-title{
    /*font-family: 'Amino-Regular7';*/
    /* color: #ffffff; */
    font-size:1.1rem;

  }
  .dropdown-list{
    list-style-type: none;
  }
  .dropdown-list li a{
    text-decoration: none;
    color: #000000;
  }
  .drop-container{
    /* height: 180px; */
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    color: #000;
    background: #fff;
  }
/* buy and sell radio buttons */

  .radio-group .input{
    position: absolute;
    left:  -9999px;
  
  }
  .radio-group{
    color:#0BA717;
    overflow: hidden;
    position: relative;
    /* height: 40px; */
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 1px #f0f0f0;
  }
  .input-group-text{
    background: #fff !important;
    border:none !important;
    position:relative;
    width: 100%;
    box-shadow: inset 0 0 0 1px #f0f0f0;
  }
  .input-group-text label{margin-bottom: 0;}
  .input-group-text .label1{
    margin-right:5px;
  }
  .input-group-text .label2{
    margin-left:5px;
  }

  input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    line-height: normal;
}
.radio-group .input:checked + .label{
  color: #fff;
  background: #0BA717;
  padding:8px 15px ;
  border-radius: 3px;
  margin: auto;
}
.btn-green[type="button"]{
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  /* opacity: 0.45; */
  border-radius: 3px;
  position: relative;
  padding:0.72rem .9em;
  font-size: 1rem;
  color: #666;
  background:#fff;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:focus{
  border:none !important;
  box-shadow:none !important;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child){
  border:none !important;
  box-shadow:none !important;
}
.radio-group-buttons {
  width: 114px;
  margin: 0 20px 0 0;
  padding: 2px;
  background: #fff;
}
.background{
  background: #fff;
  height: 180px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  color: #000;
  box-shadow: 1px 2px 15px 4px rgba(0, 0, 0, 0.1);
}
/* search icon */
.search-btn{
  background:#fff;
}
.search-btn i{
  color:rgba(0, 0, 0, 0.4) !important;
}
.search-btn:focus{
  border:none !important;
  box-shadow:none !important;
}
.dropdown-width{
  width: 450px;
  width: 30vw;
}
.no-padding{
  padding-top:0 !important;
  padding-bottom:0 !important;
}
.category-border{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.dropdown-width .container .row a{
  color:#293737 !important;
}
::placeholder {
  color:#CECECE !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:#CECECE !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: #CECECE !important;
}
.overflow{
  overflow-y: scroll;
  height: 95%;
  width: 90%;
  position: absolute;
  clear: both;
}
.overflow2{
  overflow-y: scroll;
  height: 95%;
  width: 90%;
  position: absolute;
  z-index: 1000;
  clear: both;
  overflow-x:hidden;
}
/* width */
.overflow::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.overflow:after {
  content:" ";
  position: relative;
  border-right:1px solid #000000;
  z-index: 1000;
  left: 98%;
}

/* Handle */
.overflow::-webkit-scrollbar-thumb {
  border-radius: 15px;
  /* position: absolute; */
  right: -2px;
  z-index: 1;
  width: 6px;
  border-radius: 3px;
  background-color: #0BA717;
  border:none !important;

}
/* statistics -------*/
.icon-resize svg{
  width: 70px;
  height: 80px;
}
.statistics{
  /*font-family: 'Amino-Regular9', sans-serif;*/
  color:#444444;
  font-size:1.2em;
}
.statistics-sub{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#444444;
  font-size:.9em;
}
/* Handle on hover */
.overflow::-webkit-scrollbar-thumb:hover {
  background: rgb(13, 138, 23); 
}
/* section 1 how it works */
/* .how-it-works-img{
  margin-left:-5em;
  margin-bottom:0 !important;
  padding-bottom:0 !important;
  height: 280px;
} */
.translate{
  transform:translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 90%; 
}
.section-title-black{
  font-size:26px;
  /*font-family: 'Amino-Regular7';*/
  color: #444444;
  line-height: 1.5em;
  padding-top:50px;
  padding-bottom:30px;
}
.section-title-white{
  font-size:26px;
  /*font-family: 'Amino-Regular7';*/
  color: #ffffff;
  line-height: 1.5em;
  position: relative;
  padding-top:50px;
  padding-bottom:30px;
}
.register-link{
  text-decoration: none;
  background: #0BA717;
  padding: 10px 30px;
  border-radius: 3px;
  color: #ffffff;
  transition:all 0.6s;
}
.register-link:hover{
  text-decoration: none;
  color: #ffffff;
  background: rgb(13, 138, 23);
  box-shadow: 1px 4px 30px 2px rgba(0, 0, 0, 0.3);
  transition:all 0.6s;
}
.register-link-white{
  border: 2px solid white;
  position: relative;
  padding: 10px 30px;
  border-radius: 4px;
  background:#293737;
  color: #ffffff;
  transition:all 0.6s;
}
.register-link-white:hover{
  text-decoration:none;
  color: #000000;
  background:#ffffff;
  transition:all 0.6s;
}
.how-it-works-bg:before{
  content: " ";
  background: #293737;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .91;
}
.how-it-works-bg{
  background:url('../images/farmcrowdy-maize-image.jpg')no-repeat;
  padding: 0;
  margin:0; 
  background-size: cover;
  position: relative;
  padding-bottom: 2em;
}
/* our aim */
.our-aim-bg{
  background:#FAFAFA;
}
.aim-title{
  /*font-family: 'Amino-Regular13', sans-serif;*/
  padding-top: 5rem;
}
.aim-subtitle{
  /*font-family:'Amino-Regular7', sans-serif;*/
}
.our-aim-bg img{padding-top:5rem;}
.img-bg{
  /* background: url('../images/farmcowdy-soya-background.jpg')no-repeat; */
  background: url('../images/bottom.jpg')no-repeat;
  background-size:cover;
}
/* carousel  */
.carousel-item-bg{
  margin-bottom:10px;
  background:#ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1), inset 0 0 3px 1px #f0f0f0;
  transition:all 0.6s;
  /* box-shadow: inset 0 0 3px 1px #f0f0f0; */

}
/* .owl-nav,.owl-dots{display:none;} */
.owl-nav{display:none;}
.owl-next,.owl-prev{color:#ACBB16;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background:#ACBB16 !important;}
.price{
  background: #fafafa;
  background: #fafafa;
  margin-bottom: 0 !important;
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-weight: 600;
  font-size:1rem;
}
.carousel-item-bg img{border-radius:4px 4px 0 0 ;}
.carousel-item-bg:hover{
  transform: translate(0, 8px);
  box-shadow: 2px 4px 15px 1px rgba(0, 0, 0, 0.1);
  transition:all 0.6s;
}
.carousel-item-bg a{
  color: #444444;
}
.carousel-item-bg a:hover{
  text-decoration: none;
}
.carousel-btn{
  margin:auto;
}
.state{
  font-size:.8em;
}
/* .carousel-main-title */
.see-all-products-link{
  color: #08BD51;
  border:2px solid #08BD51;
  border-radius: 4px;
  padding:10px 30px;
 transition:all 0.6s;
 /*font-family: 'Amino-Regular5', sans-serif;*/
}
.see-all-products-link:hover{
  color: #ffffff;
  background: #08BD51;
 text-decoration: none;
 box-shadow: 1px 2px 30px 6px rgba(0, 0, 0, 0.2);
 transition:all 0.6s;
}
/* footer */
.footer{
  background:rgba(172, 187, 22, .22);
}
.footer-list{
  list-style-type: none;
}
.footer-list a{
  color: #444444;
  transition: all 0.4s
}
.footer-list a:hover{
  color: #08BD51;
  text-decoration: none;
  transition: all 0.4s
}
.copyrite{
  color:#ffffff;
  /*font-family: 'Amino-Regular7', sans-serif;*/
}
/* subscribe */
.email-input input[type = email]{
  border:1px solid #08BD51;
}
.email-input input[type = email]:focus{
  border:1px solid #08BD51;
  box-shadow: 0 0 3px 1px rgba(8, 189, 81, 1)
}
.submit-email button[type = submit]{
  background:#08BD51;
  color:#ffffff;
  transition:all 0.5s;
  box-shadow: 1px 2px 30px 6px rgba(0, 0, 0, 0.099);
}
.submit-email button[type = submit]:hover{
  color:#444444;
  border:1px solid #08BD51;
  background:none;
  transition:all 0.5s;
  box-shadow: 0 0 3px 1px rgba(8, 189, 81, 1)
}
.submit-email button[type = submit]:focus{
  outline:1px solid rgb(101, 206, 143);
  box-shadow: 1px 2px 30px 6px rgba(0, 0, 0, 0.099);
  box-shadow: 0 0 3px 1px rgba(8, 189, 81, 1)

}

  /* =============end of body============== */
  /* =========Login Page========== */
  .body-bg-login{
    background: url('../images/shutterstock_7842929.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 8em;
    background-position: left 0px top -140px;
}
#auth-bg{
  height: 35vh !important;
}
.login-bg{
  background:#fefefe;
  position: relative;
  margin:auto;
  margin-bottom:20%;
  margin-top:10%;
   left: 0;  right: 0;
  box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 1px 0 20px rgba(0,0,0,.08);
  padding: 20px 10px;
  border-radius: 6px;
  width: 100% !important;
  max-width: 480px;
}
.auth.card-header{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color: #666;
  /* background: linear-gradient(80deg, #0BA717 45%, #ACBB16 100%); */
}

.login-top{
  margin-top:30%;
}
.login-nav .nav-link:focus{
  border-top:5px solid #08BD51;
  color: #08BD51 !important;
  border-bottom:2px solid #fff !important;
}
.login-nav .nav-link.active{
  border-bottom:2px solid #fff;
  border-radius: none !important;
  border-right:none  !important;
  border-bottom:none !important;
  background: #fff;
}
.login-nav .nav-link{
  border-bottom:2px solid #fff;
  border-radius: none !important;
  /* border:none !important; */
  color:#444444 !important;
  border-right:1px solid #CCCCCC !important;
  border-bottom:1px solid #CCCCCC !important;
  background: #f0f0f0;
}

.login-link:focus{
  outline: none !important;
  box-shadow: none !important;
}

.login-link{color:#08bd51;}
.login-nav{
  border-bottom: 1px solid #fff !important;
}
.login-title{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size:1em !important;
  color:#666666;
}
.login-btn[type = submit ], .login-btn-red[type = submit ]{
  width: 100%;
  background:#08BD51;
  color:#ffffff; 
  border:none;
  transition:all 0.6s;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.09);
}
#basic-addon1 svg path, #basic-addon1 i{
  color:#dddddd;
  fill:#dddddd;
  stroke:#dddddd;
}
.login-border{
  border:1px solid rgba(0, 0, 0, 0.09) !important;
}
.login-forgot-pass{
  color:#08BD51 !important;
}
.login-forgot-pass:hover{
  color:rgb(5, 143, 60) !important;
  transition:all 0.6s;
}
.link-color, .link-color1{
  transition:all 0.6s;
  color:#666666 ;
}
.link-color:hover{
  transition:all 0.6s;
  color:#08BD51;
text-decoration: none;
}

.login-btn[type = submit ]:hover{
  background:rgb(5, 143, 60);
  transition:all 0.6s;
}
.login-link:hover{
  color:rgb(5, 143, 60);
}
.login-btn-red[type = submit ]{
  background:red;
  transition:all 0.6s;
}

.login-btn-red[type = submit ]:hover{
  background:rgb(182, 9, 9);
  transition:all 0.6s;
}

/* buy section */
.resize-img-buy{
  display: inline-block;
  min-width: 100%;
  max-height: 173px;
  object-fit: cover;
  vertical-align: middle;
}
.resize-img-buy-owl{
  display: inline-block;
  min-width: 100%;
  max-height: 15% !important;
  object-fit: cover;
  /* margin-right: 30px; */
  vertical-align: middle;
}
@media(min-width:600px){
  .owl-item img{
    display: block;
    width: 100%;
    height: 22vh;
  }
  .resize-img-buy{
    display: inline-block;
    min-width: 100%;
    height: 30vh;
    object-fit: cover;
    vertical-align: middle;
  }
}
.body-bg-buy{
  background: url('../images/shutterstock_285109457.jpg') no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 0em;
  background-position: left 0px top -140px;

}
.buy-remove-bg .buy-bg{
  background: none !important;
}
.buy-bg i, .buy-bg {
  color:#ffffff !important;
}
.buy-remove-bg .radio-group{
  border-radius: 5px !important;
}
.btn-none{
  background:none !important;
  opacity: 1 !important;
  color:#fff !important;
  box-shadow: none !important;
}
.sub-nav{
  list-style-type: none;
}
.sub-nav li{
  display:inline-block;
}
.sub-nav a{color:#222222;}
.sub-nav li{
  color: #888888;
  font-size:.8em;
} 
.sub-nav a:hover{
  color:rgb(5, 143, 60);
  text-decoration:none;
}
.sub-nav .active{
  color:#08BD51;
}
.buy-header{
  background:none !important;
  border:none !important;
  padding:.5rem 1.25rem
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #35CE41;
  background: #35CE41;
  color: #35CE41;
}
.ui-widget-header {
  border: 1px solid rgb(151, 247, 159);
  background: #35CE41 !important;
}
.ui-slider-horizontal{
  height: .7em;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:focus {
  outline: none !important;
}
.ui-slider .ui-slider-handle {
  width: .9em;
  height: 1.1em;
}
.buy-header{
  border:2px solid #fff !important;
}
.move-icon-right{
  position: absolute;
  right:15px !important;
}
.button-link{
  color:#888888 !important;
  /*font-family: 'Amino-Regular4' !important;*/
  text-transform:none !important;
  transition:all 0.6s;
  font-size:.9em !important;
}
.buy-header button[type = "button"]:hover{
  transition:all 0.6s;
  color:#0BA717 !important;
}
.buy-header button[type = "button"]:focus{
  text-decoration:none !important;
  color:#0BA717 !important;

}
.buy-header button[type = "button"]{
  color:#666666 ;
  font-size:0.74em !important;
  /* color:#666666 !important; */
  /*font-family: 'Amino-Regular4' !important;*/
}
.price-range[typee= "text"]{
  font-size:1em !important;
}
/* ======products====== */
.pad-product{
  margin:5px;
  background: #fafafa;
}
.product--status{position: relative !important;}
/* .product--status-sold:after{
  content: " Sold";
  position: absolute;
  background:red;
  font-size:.9em;
  top:0;
  right:0px;
  color:white;
  padding:2px 8px;
} */
/* .product--status-pending:after{
  content: " Pending";
  position: absolute;
  background:Blue;
  top:0;
  font-size:.9em;
  right:0px;
  color:white;
  padding:2px 8px;
} */
/* .product--status-available:after{
  content: " Available";
  position: absolute;
  background:green;
  top:0;
  font-size:.9em;
  right:c0px;
  color:white;
  padding:2px 8px;
} */
.card a{
  color:#444444
}
.unit span{
  color:#777777;
}
.product-id{
  color:#444444;
  margin-bottom:2px;
}
.unit{
  font-size:.9em;
  /* border-bottom:1px solid #444444; */
}
.card-title{
  font-size:1.1em;
}
.price-per-mt{
  border-top:1px solid #aca9a9;
  padding-top: 10px;
  margin-bottom:0;
  font-size:1em;

}
.price-per-mt span{
  color:#777777;
}
.pagination .page-link{
  color:rgb(23, 133, 23) !important;
}
/* individual product page */
.individual-product-name{
  font-size: 1.7em;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 0px;
}
.individual-product-state{
  color:#777777;
}
.individual-product-amount{
  color:rgb(23, 133, 23);
  font-size: 1.7em;
  font-weight: 600;
}
.no-table-border, .no-nav-border{
  transition: all 0.6s;
  border:none !important;
  outline: none !important;
}
.no-nav-border .active{
  border:none !important;
  transition: all 0.6s;
  border-bottom:2px solid #0BA717 !important;
}
.no-nav-border .nav-link:hover{
  border:none !important;
  color: #0BA717 !important;
  transition: all 0.6s;
}
.product-title{
  color:#999999;
}
.product-content{
  margin-bottom: 0;
}
.product-sub-title2{
  font-size:1.6em;
  padding-top:15px;
  padding-bottom:15px;
  display: block;
  color:#666666;
}
.product-sub-title1{
  font-size:1.5em;
  display: block;
  color:#666666;
  padding-top:15px;
  padding-bottom:15px;
}
.table tbody tr:first-child  td{
  border:none !important;
}
.smallMT{font-size:.6em;}
.pad-product1{
  padding:8px;
  border-radius:4px;
  background: #efefef;
}
.send-msg-link{
  border-radius:4px;
  border:2px solid #0BA717;
  color:#0BA717;
  padding:10px 25px;
  transition:all 0.6s;
}
/* .no1{
  padding:10px 25px;
} */
.no2{
  padding:10px 40px;
}
.send-msg-link:hover{
  background:#0BA717;
  color:#ffffff;
  transition:all 0.6s;
  box-shadow:1px 2px 20px 4px rgba(0, 0, 0, 0.1);
}
.more-samples-link{
  background:#0BA717;
  border-radius:4px;
  border:2px solid #0BA717;
  padding:10px 25px;
  color:#ffffff;
  transition:all 0.6s;
  box-shadow:1px 2px 20px 4px rgba(0, 0, 0, 0.1);
}
.more-samples-link:hover{
  color:#0BA717;
  background:none;
  padding:10px 25px;
  transition:all 0.6s;
}
.product-name-bold{
  /*font-family :'Amino-Regular5', sans-serif;*/
  font-size:1.58em;
  color:#666666;
}
/* ========contact support desk========= */
.contact-bg{
  background:#FAFAFA;
}
/* ====================Account information====================== */
.ordered-list{
  display: block;
  color: #000;
  list-style-type: none;
}
.ordered-list li{ 
  float: left;
  color: #000;
  text-align: center;
}
.ordered-list .active{
  background: #fff;
  border-bottom:1px solid rgb(206, 255, 225)
}
.ordered-list1 .active{
  background: none;
  border:none;
}
.ordered-list1 .nav-link, .ordered-list1 .nav-link.active{
  border:none !important;
  
}
.ordered-list1{
  border-bottom:none !important;
}
.ordered-list1 .nav-link.active,
.ordered-list .item{
  position: relative;
  border-right:2px solid #ffffff;
  height: 100% !important;
}
.ordered-list1 .nav-link{
  padding: .7rem .9rem;
}
.ordered-list .item:after{
  position: absolute;
  content: "";
  top: 50%;
  right: -16px;
  margin: -7px 0 0 ;
  border: 7px solid transparent;
  border-left-color: #fff;
}
.ordered-list .item-verified{
  position: relative;
  border-right:2px solid #ffffff;
  border-left:2px solid #ffffff;
  height: 100% !important;
}
.ordered-list .item-verified:first-child{
  border-right:none;
}
.ordered-list .item-verified a{color:#444444;}
.verified-card{
  border:none;
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.09);
}
.verify-link a{
  font-size:.8em;
  transition:all 0.4s;
  text-decoration: underline;
}
.verify-link a:hover{
  color:#08BD51;
  text-decoration: none;
  transition:all 0.4s;
  
}
.manager-verify-link{
  font-size:.8em;
  transition:all 0.4s;
  text-decoration: underline;
}
 .manager-verify-link:hover{
  color:#08BD51 !important;
  text-decoration: none;
  transition:all 0.4s;
  
}
.ordered-list .item2:before{
  position: absolute;
  content: "";
  top: 50%;
  left: -2px;
  margin: -7px 0 0 ;
  border: 7px solid transparent;
  border-left-color: #f0f0f0;
}
.ordered-list .item:last-child:after{
  content: "";
  border: none;
  border-right:2px solid #fff;
}

.ordered-list .item p{
  /*font-family: 'Amino-Regular5',sans-serif;*/
  font-size:1em;
  color:#666666;
}
.ordered-list .item .span{
  /*font-family: 'Amino-Regular5',sans-serif;*/
  font-size:.9em;
  color:#08BD51;
}
.black-input>.custom-select:not(:last-child), .black-input>.form-control:not(:last-child){color:#fff !important;}

.accnt-info-title{
  /*font-family: 'Amino-Regular7',sans-serif;*/
  font-size:1.6em;
  color:#666666;
}
/* .profile-img{
  width:35%;
  /* height:60%; */
  /* max-width:50%;
  border-radius: 4px; */
/* }  */
.upload-pic-link{
  color:#666666;
  text-decoration: underline;
  transition: all 0.6s;
}
.new-line{
  text-decoration:underline;
  transition: all 0.6s;
}
.new-line:hover{
  text-decoration:none;
  color:#08bd51;
  transition: all 0.6s;
}
.upload-pic-link:hover{
  color:#08BD51;
  transition:all 0.6s;
  text-decoration: none;
}
.acct-form label{
  font-size:.95em;
  margin-top: 10px;
}
.sample-label{
  font-size:.95em;
  margin-top: 10px;
}
.move-check-down[type="checkbox"]{
  margin-top:.92em
}


.superscript-star{
  color:rgb(20, 187, 87);
  font-size:1.1em;
}
.acct-form input[type = "number"],.acct-form input[type = "text"], .acct-form input[type = "email"], .acct-form select, .acct-form textarea{
  font-size:.9em;
}
.acct-form input[type = "text"]:focus,.acct-form input[type = "tel"]:focus, .acct-form input[type = "email"]:focus, .acct-form select:focus, .acct-form textarea:focus{
  box-shadow: none;
  border:1px  solid #FF9914 !important;
}
/* ======button===== */
.link-to-next-page,.btn-submit[type="submit"]{
  color:#fff;
  padding:10px 30px;
  background:#08BD51  !important;
  transition:all 0.6s;
  border-radius: 4px  !important;
  box-shadow:1px 2px 10px 4px rgba(0, 0, 0, 0.1);
}
.link-to-next-page:hover, .btn-submit[type="submit"]:hover{
  color:#fff  !important;
  background:rgb(5, 148, 62) !important;
  box-shadow:1px 2px 10px 5px rgba(0, 0, 0, 0.1)  !important;
  transition:all 0.6s;

}
.hide-textarea{display:none;}
.get-verified-p{
  font-size:15px;
  /*font-family: 'Amino-Regular5', sans-serif;*/
}
/* sample request */
.sample{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#666666;
}
.sample-title{
  font-size:1.5rem;
}
.sample-name{
  font-size:1.2rem;
 
}
.sample-small{
  font-size:.888rem;
  color:#aaaaaa;
}
.sample-price{
  color:#666666;
  font-size:1.05rem;
  /*font-family: 'Amino-Regular4', sans-serif;*/
}
.sample-total-price{
  font-size: 1.5em;
  letter-spacing: .05em;
}
.top{
  margin-top:-1.2em 
}
.unit{
  font-size:.85rem;
}
.display-price{
  border:1px solid #acbb16;
  border-radius: 5px;
  box-shadow:1px 2px 10px 0px rgba(0, 0, 0, 0.08)  !important;
  background: #FCFCF5;
}
/* ========================Orders page======================================= */
.nav-icon{
  height: 21.4px;
  width: 21.4px;
}
.order-pg{
  font-size:.9em;
  color:#293737;
} 
.new-subnav-pad .order-pg{
  margin-right: .8em;

} 
.product{
  padding:5px 15px !important
}
.orders-aside li{
  border-bottom:1px solid rgb(100, 100, 100);
}
.orders-aside li a{
  color:#ffffff;
  /*font-family: 'Amino-Regular7', sans-serif;*/
}
.orders-aside li a:hover{
  color:#c9c9c9;
}

.order-title{
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-size:1.44em;
  color: #293737;
}
.order-sub-nav li a{
  color:#666666;
}
.order-sub-nav li .active{
  position: relative;
}
.order-sub-nav li .active:after{
  content: " ";
  position: absolute;
  top:90%;
  left:35%;
  border-bottom:2px solid #acbb16;
  width:30%;
}
.order-nav-title{
  /*font-family: 'Amino-Regular5',sans-serif;*/
  color:#666;
  font-size: .9em;
}

.order-body{
  /*font-family: 'Amino-Regular7',sans-serif;*/
  font-size: .9em;
  background: #fff;
  border:1px solid rgb(224, 224, 224);
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.04);
}
.order-body-no-order{
  /*font-family: 'Amino-Regular7',sans-serif;*/
  font-size: .9em;
  background: #fff;
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 15px;

}
.order-body div a{
  /*font-family: 'Amino-Regular5',sans-serif;*/
  font-size: .85em;
  color:#222;
  border:1px solid #dddddd;
  background:#fafafa;
  padding:10px 15px;
  border-radius: 5px;
}
.order-id{
  color: #666666 !important;
}
.pad-order{
  padding-left: 20px;
  padding-right: 20px;
}
.order-body .order-id{
  word-wrap: break-word;
}
.pad-order1{padding-right:20px;}
.order-body1{
  margin-top: 10px;

}
.bg-status{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .111);
}
.pad-order div .custom-select {
  height: calc(1.8rem + 2px);
  padding: .28rem 1.75rem .375rem .75rem;
}

.sold{color:#08BD51;}
.beingDelivered{color:blue;}
.cancelled{color:red;}
.shipped{color:#08BD51;}

.dashboard{
  color: #08bd51;
  border:2px solid #08bd51;
  border-left:none;
  padding: 0.2em 0 !important;
  margin-left:-1px;
  border-radius: 0 5px 5px 0;
}
.no-pad-link{
  padding-left:0 !important;
  margin-right:10px;
}

.dashboard span{
  /*font-family: 'Amino-Regular7',sans-serif;*/
  padding: 0.6em 2em 0.8em 0.6em !important;
  font-size:.85em;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.04);
}
.no-hover{
  background:#efefef;
}
.no-hover a:hover{
  background:none !important;
}
.side-bar a:hover path{
  fill:gb(165, 161, 161);
  stroke:rgb(165, 161, 161);
}
.side-bar a{
  /*font-family: 'Amino-Regular7',sans-serif;*/
}
.side-bar a:hover{
  background:#384B4B;
  background:rgb(54, 77, 77);
}
.side-bar .side-bar.active{
  position: relative;
  background:#384B4B;
}
.side-bar .side-bar.active:before{
  position: absolute;
  content: " ";
  left:0;
  border:3px solid #08BD51;
  border:3px solid #acbb16;
  height: 100% !important;
  top:0; 
}
.side-bar-submenu{
  list-style-type: none !important;
  border-top:1px solid #686868;
}
.side-bar-submenu li{
  font-size:.86em;
  border-bottom:1px dotted #686868 !important;
}
/* .side-bar-submenu li a{
  background: #293737;
  background: #283d3d;
} */
.side-bar-submenu .sidebar-item .active{
  position: relative;
  border-bottom:1px dotted #acbb16;
}
.side-bar-submenu .sidebar-item .active:after{
  position: absolute;
  content: " ";
  background: #08BD51;
  background: #acbb16;
  top:0;
  left:0;
  border:1px dotted #08bd51;
  border-style: groove;
  /* border-left:none; */
  border-style: double;
  height: 100%;
 filter: opacity(5%);
  width:100%;
}

.accordion .collapse-sidebar:after {
  align-self: center !important;
  /*font-family: 'FontAwesome';  */
  /* content: "\f068"; */
  content: "\f107"; 
  float: right !important; 
  right:6% !important;
  position: absolute;
}
.accordion .collapse-sidebar.collapsed:after {
  /* symbol for "collapsed" panels */
  /* content: "\f067";  */
  content: "\f105";
}
/*========dashboard==============*/
.dashboard-card1,.dashboard-card2{position: relative;}
.dashboard-card1:before{
  height: 100%;
  content: " ";
  position: absolute;
  width: 100%;
  left: 0;
  filter: opacity(.8);
  border-radius: 5px;
  z-index: -1;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.14);
  background: -moz-linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, -90deg, color-stop(0, 08BD51), color-stop(32%, 0BA717), color-stop(100%, 8CBB20));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
  background: linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* W3C */
}
.dashboard-card2:before{
  height: 100%;
  content: " ";
  position: absolute;
  width: 100%;
  filter: opacity(.8);
  z-index: -1;
  left: 0;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.14);
  background: -moz-linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, 180deg, color-stop(0, 08BD51), color-stop(32%, 0BA717), color-stop(100%, 8CBB20));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
  background: linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* W3C */
}
.pad-dashboard{
  padding-left:30px;
}
.dashboard-card div svg{
  height: 50px;
  width: 50px;
}
.pad-dashboard-card{
  padding-left:25px;
}
.pad-dashboard.border-bottom p{
  margin-top:1rem;
}
.dashboard-no{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#fff;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
}
.dashboard-sub-text{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#fff;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.092);
  font-size: .9em;
}
.pad-dashboard p svg{
  width: 20px;
  height: 20px;
}
.dashboard-message{
  position: relative;
  color:#888888;
}
.dashboard-message-sub{
  color:#aaa;
  padding-left:25px;
}

.dashboard-message:before{
  align-self: baseline !important;
  /*font-family: 'FontAwesome';  */
  content: "\f0e0"; 
  position: absolute;
  color:#aaaaaa;
  margin-top:-.06em !important;
}
.dashboard-activity-img img{
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  /* margin-right: 30px; */
  border-radius: 50%;
  vertical-align: middle;
}
.dashboard-activity-title{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#444444;
  font-size:.8em;
}
.dashboard-activity-subtitle{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  color:#aaaaaa;
  font-size:.7em;
}
.dashboard-activity-body{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  color:#444444;
  font-size:.8em;
}
.dashboard-border{
  border:1px solid #efefef;
  border-radius:5px;
}
.dashboard-border-bottom{position: relative;}
.dashboard-border-bottom:after{
  content: " ";
  position: absolute;
  bottom:0;
  border-bottom:1px solid #efefef;
  width: 90%;
  left:5%;
}
.product-bookmarked{color:#B5174E;}
.product-requested{color:#369015;}
.product-received{color:#1F93DB;}
.dashboard-link{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  color:#444444;
  font-size:.9em;
  text-decoration: underline;
}
.dashboard-link:hover,.dashboard-activity-title:hover{
  color:#444444;
  text-decoration: none;
}
.dashboard-main-link:hover .dashboard-sub-text{
  text-decoration: underline;
  transition: all .4s;
}
/* =========profile============ */
.user-profile-pic{
  display: inline-block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
  border:2px solid #FF9914;
  /* border:2px solid #0BA717; */
}
.profile-name{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size:1.1em;
  color:#666666;
}
.profile-status{
  font-size:.8em;
  color:white;
  padding:8px 12px;
  border-radius: 3px;
}
.profile-status-pending{
  background:#A2A2A2;
}
.profile-status-flagged{
  background:#2660A4;
}
.profile-status-seller{
  background:#CE376C;
}
.profile-status-buyer{
  background:#56AA3F;
}
.profile-border{position: relative;}
.profile-border:after{
  content: " ";
  position: absolute;
  top:5%;
  /* border-right:1px solid #efefef; */
  border-right:1px solid #eeebeb;
  right: 0%;
  height: 90%;
}
.profile-edit a{
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-size:.9em;
  color:#888888;
  border:1px solid #888888;
  padding:8px 10px;
  transition: all .4s;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 1px inset rgba(0, 0, 0, 0.04);
}
.profile-edit a:hover{
  color:#08BD51;
  border:1px solid #08BD51;
  transition: all .4s;
}
.profile-edit a:first-child{
  margin-right: 10px;
}
.profile-tab-nav .nav-item{
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-size: 1em;
  transition: all .4s;
  color:#696F6F;
}

.profile-tab-nav .nav-link.active{
  color:#293737;
  transition: all .4s;
  border:none;
  background:none;
  position: relative;
}
.profile-tab-nav .nav-link.active:after{
  content:" ";
  position: absolute;
  bottom:0;
  left:0%;
  width:90%;
  border-bottom:3px solid #acbb16;
}
.profile-view-title{
  color:#aaaaaa;
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size:.9em;
}
.profile-view-body{
  color:#666666;
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size:.9em;
}
.btn-profile[type="submit"]{
  color:#fff;
  background:#08BD51  !important;
  transition:all 0.6s;
}
.btn-profile[type="submit"]:hover{
  color:#fff  !important;
  background:rgb(5, 148, 62) !important;
  transition:all 0.6s;

}
/* ==============chat page================ */
.no-chat-selected {
margin-top:3em;
}
.rotate-icon i{
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
  color:#f7931e;
  /* color:#fff; */
  vertical-align: middle;
  font-size:1.5em;

}
.more-chats{
  position: relative;
  cursor: pointer;
  left:-18px;
}
.rotate-icon{
  /* background:rgb(5, 148, 62);
  background:#f7931e; */
  border:1px solid #f7931e;
  border-left:0;
  width: 85px;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 0 3px rgba(0, 0, 0, .08);
  box-shadow: inset 1px 0 3px rgba(0, 0, 0, .18);
}
@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

.rotate-icon span{
  font-size:.8em;
  color:#888;
  /*font-family: 'Amino-Regular5', sans-serif;*/
}
.no-chat-selected p{
  color:#ccc;
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-size:.9em;
}
.no-chat-title{
  color:#ccc;
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-size:1.1em !important;
}
.speech-bubble-right {
	position: relative;
  background: #FCFDE8;
  min-width: 10% ;
  max-width: 80%;
  left:50px;
  border:1px solid #E6E163;
  border-radius: .4em .4em .4em 0;
}

.speech-bubble-border-right:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #E6E163;
	border-bottom: 0;
	border-left: 0;
	margin-bottom: -15px;
	margin-left: -1px;
}
.speech-bubble-border-right{
  position: absolute;
}
.speech-bubble-border-right:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color: #FCFDE8;
	border-bottom: 0;
	border-left: 0;
	margin-bottom: -13px;
}
/* for left */
.speech-bubble-left {
  position: relative;
  right:10px;
  background: #F0FCED;
  max-width: 80%;
  min-width: 10% ;
  border:1px solid #56AA3F;
	border-radius: .4em .4em 0 .4em ;
}

.speech-bubble-border-left:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0%;
	height: 0;
	border:15px solid transparent;
	border-top-color: #56AA3F;
	border-bottom: 0;
	border-right: 0;
	margin-bottom: -15px;
	margin-right: -1px;
}
.speech-bubble-border-left{
  position: absolute;
right: 0;
}
.speech-bubble-border-left:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0%;
	height: 0;
	border: 13px solid transparent;
	border-top-color: #F0FCED;
	border-bottom: 0;
	border-right: 0;
	margin-bottom: -13px;
}
.chat-text{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  font-size:.88em;
  line-height: 1.5;
}
.chat-date-right{
  position: absolute;
  bottom: 0px;
  right: 10px;
  /*font-family: 'Amino-Regular4', sans-serif;*/
  font-size:.78em;
  color:#bbbbbb;
}
.chat-date-left{
  position: absolute;
  bottom: -10px;
  left: 50px;
  /*font-family: 'Amino-Regular4', sans-serif;*/
  font-size:.78em;
  color:#bbbbbb;
}
.img-fit{
  max-width:200px;
  height: auto;
}
.chat-profile-left{
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  bottom: -5px;
  left: 0px;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  /* margin-bottom:50px; */
}
.chat-profile-right{
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  bottom: 10px;
  right: 0px;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
}
.message-list li{
  position: relative;
  padding-bottom:3em !important;
}

.message-list li:first-child{
  margin-top:1.5em !important;
}

.message-list{
 position: relative;;

}
.chat-textarea{
  padding:0;
  background:#fff;
  border:none !important;
  border:1px solid #EEEEEE !important;
  border-left:none !important;
}
.chat-textarea textarea{
  height: 35px !important;
  border:none !important;
  resize: none;
}
.chat-textarea textarea:focus{
  border:none !important;
  outline:none !important;
  box-shadow: none !important;
}
.chat-textarea textarea::-webkit-scrollbar{
  width: 5px;
}
.chat-textarea textarea::-webkit-scrollbar-thumb{
  border-radius: 3px;
  background:rgba(0, 0, 0, .0);
}
.upload-file-chat{
  background:#56AA3F !important;
  border-radius: 3px 0 0 3px;
  color:#fff;
  margin: 0 auto;
}
.chat-textarea button[type = "submit"]{
  line-height:0.5 !important;
}
.select-chat{
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.personal-chat-list{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#666;
  font-size: .87em;
}
.personal-chat-list-date{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  color:#bbb;
  font-size: .77em;
  margin-left:48px;
  margin-top:-5px !important;
}
.listed-chats li:hover{
  background:#fafafa;
}
.listed-chats li a:hover .personal-chat-list{
  text-decoration: underline;
}
.chat-scrollbar1{
  overflow-y: scroll;
  max-height: 90%;
  /* width:100%; */
  position: absolute;

}
.chat-scrollbar{
  overflow-y: scroll;
  max-height: 100%;
  position: absolute;

}
/* width */
.chat-scrollbar::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.chat-scrollbar:after {
  content:" ";
  position: relative;
  border-right:1px solid #bbb;
  z-index: 1000;
  left: 98%;
}

/* Handle */
.chat-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 15px;
  /* position: absolute; */
  right: -2px;
  z-index: 1;
  width: 2px;
  border-radius: 3px;
  background-color: transparent;
  border:none !important;

}
/* Handle on hover */
.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #bbb; 
}
/* bookmark */
.bookmarked-img{
  width: 50px;
  height: 50px;
  border-radius:3px;
  object-fit: cover;
  background: #ddd center no-repeat;
}
.table-icon th{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size: .9em;
  color:#444;
}
.table-icon td{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  font-size: .9em;
  color:#666;
}
.table-icon td a{
  text-decoration: underline;
  /*font-family: 'Amino-Regular5', sans-serif;*/
  transition:all 0.5s;
  font-size: .9em;
  color:#666;
}
.table-icon td a:hover{
  text-decoration: none;
}
.table-icon td i{
  color:rgb(145, 1, 1);
  transition:all 0.5s;
}
.table-icon td i:hover{
  cursor: pointer;
  color:rgb(83, 3, 3);
  transition:all 0.5s;
}
.height-100{
  height: 100vh;
  position: relative;
}
.send-chat{
  position: absolute;
  bottom: 0;
}
/* error page */

.error-title{
/*font-family: 'Amino-Regular5', sans-serif;*/
font-size: 210px;
font-weight: 900;
text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;
color:#08bd51;
line-height: 210px;
}
.error-sub-title{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size: 4em;
  color:#08bd51;
}
.error-body{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#888888;
  font-size:1.5em;  
}
.error-link{
  background: #08bd51;
  border-radius: 25px;
  transition: all .5s;
  color:#fff;
  padding:10px 20px;
}
.error-link:hover{
  color:#fff;
  background: #00742e;
  transition: all .5s;
}
/* media queries */
  @media (min-width:1802px) and (max-width:2166px){
    
    .body-bg-login{
      background: url('../images/shutterstock_7842929.jpg') no-repeat;
      background-size: cover;
      position: relative;
      padding-bottom: 8em;
      background-position: left 0px top -400px;
  }
  .login-top{
    margin-top:30%;
  }

  }
  @media (min-width:2166px) and (max-width:2800px){
    
    .body-bg-login{
      background: url('../images/shutterstock_7842929.jpg') no-repeat;
      background-size: cover;
      position: relative;
      padding-bottom: 8em;
      background-position: left 0px top -500px;
  }
  .login-top{
    margin-top:30%;
  }
  .login-bg{
    margin-top:15%;
    margin-bottom:-25%;
  }
  }
 
  @media screen and (min-width: 768px) and (max-width: 851px) {
    .profile-break{display: block;}
  }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
.how-it-works-img-bg{
    height: 320px;
    background: url("../images/shutterstock_550794592.jpg") no-repeat;
    background-size: 200px;
    background-position: right top 110px;
  }
}
@media (min-width:1024px) and (max-width:1263px){
  .link-color,.link-color1, .login-forgot-pass{
    font-size:0.9em !important;
  }
  .body-bg-login{
    background: url('../images/shutterstock_7842929.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 8em;
    background-position: left 0px top -100px;
}
}
@media (min-width:767px) and (max-width:2600px){
    .relative{
    position: relative;
    margin-bottom:10px;
}
}

@media (min-width:767px){
  .pull-chat-right{
   width:90%!important;
  }
}

  @media (min-width:992px) and (max-width:1347px){
    .profile-status{
      margin-bottom:20em !important; 
    }
  }
    @media (min-width:768px) and (max-width:797px){
      .profile-edit span{
        display:block;
      } 
      .profile-edit span:first-child{
        margin-bottom: 15px;
      } 
    }
      @media (min-width:992px) and (max-width:1293px){
   .profile-edit span{
     display:block;
   } 
   .profile-edit span:first-child{
    margin-bottom: 15px;
  } 
  }
    @media (min-width:992px) and (max-width:1263px){
  .dashboard-activity-img, .dashboard-body-width{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}

@media (min-width:766px) and (max-width:1199px){
  .accordion .collapse-sidebar {
    position: relative;
  }
  .accordion .collapse-sidebar:after {
    /* content: "\f068"; */
    /* right:6% !important; */
    top:35% !important;
  }
}
@media (min-width:992px) and (max-width:1264px){
  .profile-break{
    display: block;
  }

}

@media (min-width:992px) and (max-width:1120px){
  .translate {
    top: 45%;
}
  .commodities-br{display: block;}
}
  @media (min-width:992px) and (max-width:1039px){
  .buy-header h5 button[type ="button"]{
    font-size:.63em !important;
  }

}
@media screen and (min-width: 1333px) {
  .how-it-works-img-bg{
    background: url("../images/shutterstock_550794592.jpg") no-repeat;
    width: calc(100% - 300px);
    background-size: 460px;
    background-position: left -100px top 0px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 991px) {
  .how-it-works-img-bg{
    background: url("../images/shutterstock_550794592.jpg") no-repeat;
    width: calc(100% - 300px);
    background-size: 460px;
    background-position: left -190px top 0px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width:768px){
  .hidden{
    display:none !important;
  }
  .user-placeholder {
    background: #dce0eb url('../images/profile1.png') center no-repeat;
    background-size: 80px;
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 50%;
    vertical-align: middle;
  }
  .picture{
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 50% !important;
    vertical-align: middle;
  }
}
@media (max-width:1440px){
  .register-login-top{
    margin-top:50% !important;
  }
}
  @media (max-width:1200px){
    .nav-pad{
      padding-left:5%;
      padding-right:5%;
    }
    /* users dashboard========== */
    .side-bar a{
      font-size:.9em;
      width:100% !important;
      display: inline-block !important;
    }
    .side-bar a svg{
      display:block;
      width:100% !important;
    }
    li .side-bar span{
      display:block;
      padding: 0 !important;
      padding-top:5px !important;
      width:100% !important;
      text-align: center;
    }
    
  }
  @media (max-width:1073px){
    .page-no{
      font-size:.8em;
    }
  }
  @media (max-width:1055px){
    .nav-pad{
      padding-left:3%;
      padding-right:3%;
    }
    .new-subnav-pad .order-pg{
      margin-right: .6em;
    
    } 
  }
  @media (max-width:1024px){
    .dropdown-width{
      width: 40vw !important;
    }
    .aim-title{
      padding-top: 3rem;
    }
    .pull-mobile{
      position: relative;
      right:0vw;
    }
   
    .new-subnav-pad .order-pg{
      margin-right: 0.4em !important;
    } 
    .icon-resize svg{
      width: 60px;
      height: 70px;
    }
    .statistics{
      font-size:1.1em;
    }
    .statistics-sub{
      font-size:.8em;
    }
    .dashboard-no{
    font-size: 1.4em;
    }
    .dashboard-sub-text{
    font-size: .8em;
    }
  .login-top{
  margin-top:45%;
}
  }
  @media(max-width:991px){
   
    .profile-border:after{
      content: " ";
      position: absolute;
      top:5%;
      /* border-right:1px solid #efefef; */
      border-right:none;
      right: 0%;
      height: 90%;
    }
    .collapse .top-nav a img{display:none;}
    .dashboard-no{
      font-size: 1.5em;
    }
   .profileDropdown a, .collapse .top-nav .dropdown a{
      text-align: left !important;
    }
    .profileDropdown .dropdown-menu a{
      /*font-family: 'Amino-Regular4', sans-serif;*/
      font-size:.92em !important;
      position: relative;
      left:10%;
      padding: .2rem 1.5rem;
      color: rgb(219, 208, 208);
    } 
    .profileDropdown .dropdown-menu a:hover{
      background:none !important;
    }
    .profileDropdown{position: relative;}
    .profileDropdown .dropdown-menu {
      background:transparent !important;
      position: relative;
      width: 100% !important;
    }
    .after-login .menu li a img{
      display: none !important;
    }
    
    
    .collapse .top-nav .dropdown .dropdown-menu{
      background: transparent ;
    }
    .collapse .top-nav .dropdown .dropdown-menu{
      /*font-family: 'Amino-Regular4', sans-serif;*/
      padding-left:70px;
    }
      .dashboard-sub-text{
      font-size: .9em;
      }
    .how-it-works-img-bg{
      width: calc(100% - 300px);
      background-size: 360px;
      background-position: left -240px top 20px;
      padding-bottom: 0px;
    }
    .how-it-works-img-bg{
      height: 220px;
    }
    .how-it-works-bg{
      padding-bottom: 0em;
    }
    .section-title-black{
      font-size:20px;
      padding-bottom:0px;
    }
    .register-link-white{margin-left:15px;}
   .section-title-white{
      font-size:20px;
      margin-top:10%;
      padding-left:15px;
      padding-bottom:0px;
    }
   
    .translate{
      left: 70%; 
    }
    .pull-mobile{
      position: relative;
      left:0vw;
    }
    .nav-pad{
      padding-left:3%;
      padding-right:2%;
    }

	.indicator{
		position: absolute;
		left: -65vw !important;
  }

	#width{
		width: 20rem !important;
	}

#sponsor-btn a{
	padding:15px 28px !important;
}
#sponsor-btn a:first-child{
	margin-right:10px !important;
}
#sponsor-btn a:last-child{
	margin-left:10px !important;
	
}
.top-nav .active::after{
 
  border-bottom:none;
}
.carousel-btn{display:none;}
/* .login-bg{
  margin-top:15%;
  margin-bottom:-60%;
} */
.body-bg-login{
  background: url('../images/shutterstock_7842929.jpg') no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 8em;
  background-position: left 0px top -100px;

}
.verified-margin{
  margin-right: 1.5em;
  margin-left: 1.5em;
}
.accnt-info-title {
  font-size: 1.4em;
}
.error-title{
  font-size: 190px;
  line-height: 180px;
  }
  .error-sub-title{
    font-size: 3em;
  }
  .error-body{
    font-size:1.2em;  
  }
  .error-link{
    border-radius: 25px;
    color:#fff;
    padding:10px 20px;
  }
  .pad-dashboard-profile {
    padding-left: 0px;
}
}
@media (max-width:767px){
#chats{
  background:#fefefe;
  position: absolute;
  height: 100vh;
  z-index: 100;
  top:0px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, .041);
}
.touch-list-width{
  width:74%;
}
.sub-title{
  /*font-family: 'Amino-Regular7';*/
  font-size:1rem;
}
.touch-list-width li:hover{
  background: #fff;
}
  .collapse .top-nav .dropdown{
    display: block !important;
  }
  .link-color,.link-color1, .login-forgot-pass{
    font-size:0.9em;
  }
  .aim-title{
    padding-top: 0.9rem;
  }
  .our-aim-bg img {
    padding-top: 3rem;
}
.dropdown{display:none;}
.profileDropdown{display: block;}
.how-it-works-img-bg{
  background: url("../images/shutterstock_550794592.jpg") no-repeat;
  width: calc(100% - 300px);
  background-size: 460px;
  background-position: right -150px top 0px;
  padding-bottom: 60px;
}
.translate{
  transform:none;
  position: static;
  margin-left:5%;
  top: 50%;
  left: 60%; 
}
.title {
  font-size: 1.3rem;

}
.section-title-white{
  font-size:20px;
  margin-top:10%;
  padding-left:10%;
  padding-bottom:0px;
}
.register-link-white{
  margin-left:10%;
}
.how-it-works-bg{
  padding-bottom:10%;
}
.body-bg {
  background-position: left 0px top -100px;
}

@-webkit-keyframes slideOutFromLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutFromLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutFromLeft {
  -webkit-animation-name: slideOutFromLeft;
  animation-name: slideOutFromLeft;
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes slideInFromLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInFromLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInFromLeft {
  -webkit-animation-name: slideInFromLeft;
  animation-name: slideInFromLeft;
}
.animatedSlide {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.aside-mobile{
  position: fixed;
  width:75% !important;
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background:#fff;
  top:0;
  height: 100% !important;
  left: 0;
  overflow-y: scroll;
  transition: left 0.4s ease-in-out;
}
.orders-aside{
  margin-top:2.8em;
}
.close-btn{
  position: absolute;
  z-index: 1001;
  right: 20%;
  top:-5%;
  margin-top:3em !important;
}
.hide-sidebar{
  position: fixed;
}
.filter-link{
  border:2px solid #0BA717;
  color: #0BA717;
  border-left:none;
  padding:10px 20px;
  border-radius: 0 4px 4px 0;
}
.filter-link:hover{
  color:#666666;
}
.move-margin{
  margin-left:-20px;
}
.results{
  color: #888888;
}
.number{
  color: #666666;
}
.hidden{
  display:none !important;
}
.user-placeholder {
  background: #dce0eb url('../images/350x350.png') center no-repeat;
  background-size: 80px;
  display: inline-block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 50%;
  vertical-align: middle;
}
.picture{
  display: inline-block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 50% !important;
  vertical-align: middle;
}
.side-bar a{
  font-size:.9em;
  display: flex !important;
}
.side-bar a svg{
  align-self: center!important;
  width:16px !important;
}
li .side-bar span{
  display:block;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left:1rem !important;
  width:auto !important;
  text-align: center;
}
.top{
  margin-top:2em !important;
}
.top1{
  margin-top:0em !important;
}
.register-login-top{
  margin-top:55% !important;
}
.pad-dashboard {
  padding-top: 0px;
}
.pad-dashboard-profile {
  padding-top: 20px;
}
}
@media (max-width:680px){
  .product-name-bold{
    font-size:1.4em;
  }
 
  .product-sub-title2{
    font-size:1.3em;
  }
  .product-sub-title1{
    font-size:1.2em;
  }
  .body-bg {
    background-position: left 0px top -70px;
  }
  .register-login-top{
    margin-top:60% !important;
  }
  .personal-chat-list{
    /*font-family: 'Amino-Regular5', sans-serif;*/
    color:#666;
    font-size: .8em;
  }
  .accnt-info-title {
    font-size: 1.4em;
  }
  .error-title{
    font-size: 150px;
    line-height: 130px;
    }
    .error-sub-title{
      font-size: 2em;
    }
    .error-body{
      font-size:1em;  
    }
    .error-link{
      border-radius: 18px;
      padding:8px 15px;
    }
}
@media(max-width:639px){
  /* .personal-chat-list, .personal-chat-list-date{
    margin:0;
    display: block;
    text-align: center;
  } */
  /* .chat-profile-link img{
    margin:auto !important;
    display: block !important;
  } */
}
@media (max-width:624px){
  .body-bg {
    background-position: left 0px top 0px;
  }
.register-login-top{
    margin-top:70% !important;
  }
}
@media (max-width:595px){
    .profile-break{display: block;}
    .profile-tab-nav .nav-item{
      font-size: .9em;
    }
} 
@media (max-width:552px){
  .how-it-works-img-bg{
    background: none;
  }
 
  .login-top{
    margin-top:50%;
  }
  .verified-margin{
    margin-right: .5em;
    margin-left: .5em;
  }
  .login-title{font-size:.9em !important;}
  .sample-title{
    font-size:1.3rem;
  }
  .sample-name{
    font-size:1rem;
  }
  .sample-small{
    font-size:.788rem;
  }
  .sample-price{
    font-size:.9rem;
  }
  .sample-total-price{
    font-size: 1.3em;
    letter-spacing: .05em;
  }
  .unit{
    font-size:.75rem;
  }
  .dashboard-no{
    font-size: 1.38em;
    }
    .dashboard-sub-text{
    font-size: .8em;
    }
    .dashboard-card div svg{
      height: 40px;
      width: 40px;
    }
    .register-login-top{
      margin-top:80% !important;
    }
    /* .personal-chat-list-date{display: none;} */
    .personal-chat-list{
      line-height: 1.5;
      padding-bottom:10px;
      padding-left:0px !important;
      padding-right:0px !important;
      /* font-size: .68em; */
    }
    .error-title{
      font-size: 130px;
      line-height: 110px;
      }
      .error-sub-title{
        font-size: 1.5em;
      }
      .error-body{
        font-size:.9em;  
      }
      .error-link{
        border-radius: 15px;
      }
}
@media (max-width:425px){
  .footer-list{
    -webkit-padding-start: 10px;
  }
  .link-color, .link-color1, .login-forgot-pass{
    font-size:0.8em;
  }
  .verified-margin{
    margin-right: 0em;
    margin-left: 0em;
  }
  .get-verified-p{
    font-size:13px;
  }
  .icon-resize svg{
    width: 60px;
    height: 70px;
  }
  .statistics{
    font-size:1em;
  }
  .statistics-sub{
    font-size:.7em;
  }
  .login-top{
    margin-top:65% !important;
  }
  .register-login-top{
    margin-top:90% !important;
  }
}
@media(max-width:391px){
  .profile-tab-nav .nav-item{
    font-size: .85em;
  }
  .profile-tab-nav .nav-link{
    padding: .5rem .4em;
  }
}
@media (max-width:375px){
    .verify-link a {
    font-size: .7em;
}
.login-top{
  margin-top:80% !important;
}
.dashboard span{
  padding: 0.6em 2em 0.8em 0em !important;
}
.error-title{
  font-size: 100px;
  line-height: 90px;
  }
  .error-sub-title{
    font-size: 1.2em;
  }
  .error-body{
    font-size:.8.3em;  
  }
  .error-link{
    border-radius: 15px;
  }
}







