* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

a, a:hover {
  text-decoration: none; }

p, a, h1, h2, h3, h4, h5, h6 {
  color: #444444; }

body {
  font-family: 'Product-Sans';
  line-height: 1.7;
  margin: 0;
  padding: 0; }

input[type=text], .contact-form textarea[type=text] {
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
  -webkit-border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
  -o-border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
  -ms-border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important; }
  input[type=text]:focus, .contact-form textarea[type=text]:focus {
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    box-shadow: none !important;
    -webkit-border-color: #FF9914;
    -moz-border-color: #FF9914;
    -o-border-color: #FF9914;
    -ms-border-color: #FF9914;
    border-color: #FF9914;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid !important;
    -moz-border-style: solid !important;
    -o-border-style: solid !important;
    -ms-border-style: solid !important;
    border-style: solid !important; }

nav label.menu-icon {
  cursor: pointer;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0;
  position: relative;
  user-select: none; }

nav.nav-fixed {
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff; }

.header {
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.03), 0px 2px 3px 0 rgba(0, 0, 0, 0.03);
  -o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.03), 0px 2px 3px 0 rgba(0, 0, 0, 0.03);
  -ms-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.03), 0px 2px 3px 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.03), 0px 2px 3px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.03), 0px 2px 3px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  width: 100%;
  z-index: 1000; }

.header .menu {
  clear: both;
  max-height: 0;
  flex-grow: 1;
  transition: max-height .2s ease-out; }

.header .menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .header .menu ul li .sign-up {
    background: #3DB535;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
    -moz-transition: all 0.45s;
    -webkit-transition: all 0.45s;
    -ms-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s; }
    .header .menu ul li .sign-up:hover {
      -moz-transition: all 0.45s;
      -webkit-transition: all 0.45s;
      -ms-transition: all 0.45s;
      -o-transition: all 0.45s;
      transition: all 0.45s;
      background: #46c63d;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      -o-border-radius: 4px 4px 4px 4px;
      -ms-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      color: #f2f2f2; }
  .header .menu ul li .active {
    color: #FF9914; }
    .header .menu ul li .active:hover {
      color: #e07f00; }
  .header .menu ul li a {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
    font-size: 15.4px; }
    .header .menu ul li a:hover {
      color: #777777; }

.header .menu-icon .navicon {
  background: #3DB535;
  display: block;
  height: 4px;
  position: relative;
  width: 28px;
  -moz-transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out; }
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #3DB535;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
.header .menu-icon .navicon:before {
  top: 8px; }
.header .menu-icon .navicon:after {
  top: -8px; }
.header .menu-btn {
  display: none; }
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

.jumbotron-bg .marg-b {
  margin-bottom: 2em; }
.jumbotron-bg .title-right {
  position: relative;
  background: url("../images/orang-bg@2x.jpg") no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 4em;
  padding-bottom: 3em; }
  .jumbotron-bg .title-right p {
    color: #ffffff;
    font-size: 17px; }
  .jumbotron-bg .title-right .head-title {
    font-size: 14px; }
  .jumbotron-bg .title-right h4 {
    color: #ffffff;
    font-size: 27px; }
  .jumbotron-bg .title-right .title-container-right {
    width: 60%;
    margin-left: 40%;
    padding-right: 15px; }
  .jumbotron-bg .title-right .buy-commodity-link {
    background: #ffffff;
    font-size: 18px;
    color: #F21B3F;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    padding: 15px 25px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
    .jumbotron-bg .title-right .buy-commodity-link:hover {
      -moz-transition: all 0.4s ease-out;
      -webkit-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      background: #cccccc;
      color: #ce0c2c; }
.jumbotron-bg .title-left {
  background: url("../images/green-bg@2x.jpg") no-repeat;
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 3em;
  position: relative;
  background-position: left 0px top 0px; }
  .jumbotron-bg .title-left p {
    color: #ffffff;
    font-size: 17px; }
  .jumbotron-bg .title-left h4 {
    color: #ffffff;
    font-size: 27px; }
  .jumbotron-bg .title-left .head-title {
    font-size: 14px; }
  .jumbotron-bg .title-left .title-container-left {
    width: 60%; }
  .jumbotron-bg .title-left .trade-commodity-link {
    background: #ffffff;
    font-size: 18px;
    color: #3DB535;
    padding: 15px 40px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
    .jumbotron-bg .title-left .trade-commodity-link:hover {
      -moz-transition: all 0.4s ease-out;
      -webkit-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      background: #cccccc;
      color: #308e29; }

@media (min-width: 991px) {
  .align-commodity {
    text-align: right; }

  .subscribe-bg .pad-sub {
    margin-top: 20px; }
    .subscribe-bg .pad-sub button {
      padding-left: 25px;
      padding-right: 25px; }

  .header {
    justify-content: normal; }
    .header .logo {
      padding-left: 6rem !important; }
    .header .pad-left {
      padding-right: 3rem !important; }
    .header ul .pad-login {
      border-left: 1px solid #dddddd; }
    .header ul li {
      float: left; }
    .header ul .dropdown .dropdown-menu {
      border: none;
      -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
      -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
      -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
      -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
      box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
      .header ul .dropdown .dropdown-menu .profile-img {
        padding: .5em;
        background: #3DB535; }
        .header ul .dropdown .dropdown-menu .profile-img span {
          color: #ffffff;
          padding-left: .2em; }
        .header ul .dropdown .dropdown-menu .profile-img img {
          background: #aaaaaa;
          height: 35px;
          width: 35px;
          border-radius: 50%; }
      .header ul .dropdown .dropdown-menu .dropdown-item {
        padding-top: .4em;
        padding-bottom: .1em; }
      .header ul .dropdown .dropdown-menu .dropdown-item.active {
        background-color: transparent;
        color: #444444;
        position: relative; }
        .header ul .dropdown .dropdown-menu .dropdown-item.active:hover {
          background-color: #fafafa; }
    .header .menu {
      clear: none;
      max-height: none; }
    .header .menu-icon {
      display: none; }
    .header .dropdown .dropdown-menu {
      -moz-transition: all 0.25s, transform 0.3s;
      -webkit-transition: all 0.25s, transform 0.3s;
      -ms-transition: all 0.25s, transform 0.3s;
      -o-transition: all 0.25s, transform 0.3s;
      transition: all 0.25s, transform 0.3s;
      max-height: 0;
      display: block;
      visibility: hidden;
      overflow: hidden;
      opacity: 0;
      transform: translateY(-0.9em); }
    .header .dropdown:hover > .dropdown-menu {
      visibility: visible;
      max-height: 200px;
      opacity: 1;
      margin-top: 10px;
      transform: translateY(0);
      -moz-transition: all 0.25s, transform 0.3s;
      -webkit-transition: all 0.25s, transform 0.3s;
      -ms-transition: all 0.25s, transform 0.3s;
      -o-transition: all 0.25s, transform 0.3s;
      transition: all 0.25s, transform 0.3s; }
    .header .dropdown > .dropdown-toggle:active {
      /*Without this, clicking will make it sticky*/
      pointer-events: none; } }
@media (min-width: 1200px) {
  .main-title {
    padding-right: 110px !important; }

  .header .logo {
    padding-left: 8rem !important; }
  .header .pad-left {
    padding-right: 4.5rem !important; } }
@media (min-width: 1352px) {
  .main-title {
    padding-right: 200px !important; } }
@media (min-width: 1111px) {
  .header .menu ul .pad-login {
    padding-left: 1em; }
  .header .menu ul .help-pad {
    padding-right: 1em; }
  .header .menu ul li a {
    padding-left: 1.3rem;
    padding-right: 1.3rem; } }
@media (max-width: 991px) {
  .menu ul .profileDropdown {
    position: relative; }
    .menu ul .profileDropdown a {
      text-align: left; }
  .menu ul li .dropdown-toggle.active {
    color: #FF9914 !important; }
  .menu ul li a {
    color: white;
    font-size: 1.05em; }
  .menu ul li .nav-link {
    padding-left: 9vw !important;
    padding-top: 20px !important; }
  .menu ul .profileDropdown .dropdown-menu {
    background: transparent !important;
    position: relative;
    width: 100% !important;
    padding-top: 0;
    margin-top: 0; }
    .menu ul .profileDropdown .dropdown-menu a:hover {
      background: none !important; }
    .menu ul .profileDropdown .dropdown-menu a {
      font-size: .92em !important;
      position: relative;
      left: 10%;
      padding: .2rem 1.5rem;
      color: #dbd0d0; }
    .menu ul .profileDropdown .dropdown-menu .dropdown-item {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important; }
    .menu ul .profileDropdown .dropdown-menu .dropdown-item.active {
      background-color: transparent;
      color: #3DB535;
      position: relative; }
      .menu ul .profileDropdown .dropdown-menu .dropdown-item.active:hover {
        background-color: #fafafa; }

  .pad-left {
    margin-right: 0 !important; }

  .profile-container-mobile {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #888888;
    top: 0;
    margin-bottom: 1.5em; }
    .profile-container-mobile .profile-container {
      position: absolute;
      left: 10vw;
      top: -4em; }
      .profile-container-mobile .profile-container .profile-name {
        color: #ffffff; }
      .profile-container-mobile .profile-container a {
        text-decoration: underline;
        padding-left: 0;
        color: #aaaaaa; }

  .subscribe-bg .pad-sub {
    margin-top: 20px; }
    .subscribe-bg .pad-sub button {
      padding-left: 20px;
      padding-right: 20px; }

  .header .menu-btn:checked ~ .menu {
    max-height: 100% !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.87); }
  .header #navlist {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    overflow-y: scroll;
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-top: 5.8em !important;
    padding-left: 0 !important;
    padding-right: 0 !important; } }
/*end of navbar*/
/*products*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #35CE41 !important;
  background: #F7F7F7 !important;
  color: #3DB535 !important; }

.ui-widget-header {
  border: 1px solid #97f79f;
  background: #3DB535 !important; }

.ui-slider-horizontal {
  height: .7em; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:focus {
  outline: none !important; }

.ui-slider .ui-slider-handle {
  width: .9em;
  height: 1.1em; }

.products-container1 {
  padding-top: 5em;
  padding-bottom: 0 !important; }

.products-container {
  padding-top: 3em;
  padding-bottom: 5em; }
  .products-container .underline {
    padding-top: 2em;
    position: relative; }
    .products-container .underline:after {
      position: absolute;
      content: " ";
      width: 100%;
      left: 0;
      -webkit-border-color: #efefef;
      -moz-border-color: #efefef;
      -o-border-color: #efefef;
      -ms-border-color: #efefef;
      border-color: #efefef;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }
  .products-container h4 {
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 5px; }
  .products-container .mobile1 {
    font-weight: 400;
    margin-top: .4em; }
  .products-container .commodity-trade {
    color: #3DB535; }
  .products-container .commodity-trade1 {
    color: #FF9914; }
  .products-container .see-all-products {
    font-size: 16px;
    -moz-transition: all 0.45s;
    -webkit-transition: all 0.45s;
    -ms-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s;
    color: #3DB535; }
    .products-container .see-all-products:hover {
      -moz-transition: all 0.45s;
      -webkit-transition: all 0.45s;
      -ms-transition: all 0.45s;
      -o-transition: all 0.45s;
      transition: all 0.45s;
      text-decoration: underline; }
  .products-container .custom-select {
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-border-color: #3DB535;
    -moz-border-color: #3DB535;
    -o-border-color: #3DB535;
    -ms-border-color: #3DB535;
    border-color: #3DB535;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid !important;
    -moz-border-style: solid !important;
    -o-border-style: solid !important;
    -ms-border-style: solid !important;
    border-style: solid !important; }
    .products-container .custom-select:focus {
      -moz-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      -webkit-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -o-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -ms-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -moz-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3); }
  .products-container .insurance-container .insurance {
    font-size: 18px; }
    .products-container .insurance-container .insurance a {
      -moz-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      color: #08BDBD; }
      .products-container .insurance-container .insurance a:hover {
        -moz-transition: all 0.25s;
        -webkit-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        color: #068c8c; }
  .products-container .products {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1em;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
    .products-container .products .product-border {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      -webkit-border-color: #efefef;
      -moz-border-color: #efefef;
      -o-border-color: #efefef;
      -ms-border-color: #efefef;
      border-color: #efefef;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
    .products-container .products .img-div {
      position: relative; }
      .products-container .products .img-div .product-img {
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0; }
      .products-container .products .img-div span {
        color: #ffffff;
        position: absolute;
        bottom: -6.5%;
        right: 5%;
        padding: 3px 10px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -o-border-radius: 5px 5px 5px 5px;
        -ms-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        font-size: .8em; }
      .products-container .products .img-div .sold-out {
        background: #D90F45; }
      .products-container .products .img-div .opening-soon {
        background: #FF9914; }
      .products-container .products .img-div .now-selling {
        background: #0BA717; }
    .products-container .products .product-name {
      margin-bottom: 0;
      padding-left: 20px;
      padding-top: 15px; }
      .products-container .products .product-name a {
        font-size: 18px; }
        .products-container .products .product-name a:hover {
          text-decoration: underline;
          color: #6f6f6f; }
    .products-container .products .percent {
      font-weight: bold; }
    .products-container .products .percent, .products-container .products .month {
      font-weight: bold; }
    .products-container .products .duration {
      color: #888888;
      font-size: 14.5px;
      padding-left: 20px;
      padding-bottom: 10px;
      margin-bottom: 0;
      position: relative; }
      .products-container .products .duration:after {
        position: absolute;
        content: " ";
        width: 84%;
        -webkit-border-color: #efefef;
        -moz-border-color: #efefef;
        -o-border-color: #efefef;
        -ms-border-color: #efefef;
        border-color: #efefef;
        -webkit-border-width: 1px;
        -moz-border-width: 1px;
        -o-border-width: 1px;
        -ms-border-width: 1px;
        border-width: 1px;
        -webkit-border-style: solid;
        -moz-border-style: solid;
        -o-border-style: solid;
        -ms-border-style: solid;
        border-style: solid;
        left: 8%;
        bottom: 0; }
    .products-container .products .product-price {
      padding-top: 15px;
      padding-bottom: 13px;
      padding-left: 20px;
      color: #888888;
      font-size: 13px;
      margin-bottom: 0; }
      .products-container .products .product-price span {
        font-size: 20px;
        color: #3DB535 !important; }
    .products-container .products:hover .product-border {
      -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
      -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
      -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
      -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
      box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
      .products-container .products:hover .product-border a img {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
        -moz-filter: grayscale(50%);
        -o-filter: grayscale(50%);
        filter: grayscale(50%); }
  .products-container .more-products {
    padding-top: 2.5em; }
    .products-container .more-products a {
      padding: 10px 20px;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      -webkit-border-color: #3DB535;
      -moz-border-color: #3DB535;
      -o-border-color: #3DB535;
      -ms-border-color: #3DB535;
      border-color: #3DB535;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      color: #3DB535;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
      .products-container .more-products a:hover {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-border-color: #297a24;
        -moz-border-color: #297a24;
        -o-border-color: #297a24;
        -ms-border-color: #297a24;
        border-color: #297a24;
        -webkit-border-width: 1px;
        -moz-border-width: 1px;
        -o-border-width: 1px;
        -ms-border-width: 1px;
        border-width: 1px;
        -webkit-border-style: solid;
        -moz-border-style: solid;
        -o-border-style: solid;
        -ms-border-style: solid;
        border-style: solid;
        color: #297a24; }

.products-container1 {
  padding-top: 5em; }

/*end of products*/
/* subscribe*/
.subscribe-bg {
  background: #F5FFEA;
  padding-top: 3em;
  padding-bottom: 3em; }
  .subscribe-bg h4 {
    font-size: 28px;
    text-align: center;
    font-weight: bold; }
  .subscribe-bg .email-subscribe[type=email], .subscribe-bg button:focus {
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-border-color: #3DB535;
    -moz-border-color: #3DB535;
    -o-border-color: #3DB535;
    -ms-border-color: #3DB535;
    border-color: #3DB535;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid !important;
    -moz-border-style: solid !important;
    -o-border-style: solid !important;
    -ms-border-style: solid !important;
    border-style: solid !important; }
    .subscribe-bg .email-subscribe[type=email]:focus, .subscribe-bg button:focus {
      -moz-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      -webkit-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -o-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -ms-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -moz-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3); }
  .subscribe-bg button {
    background-color: #3DB535;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    color: #ffffff; }
    .subscribe-bg button:hover {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      background-color: #22661e; }

/* end of subscribe*/
/*summary*/
.summary {
  padding-top: 5em;
  padding-bottom: 5em; }
  .summary h4 {
    font-size: 28px;
    color: #08BDBD;
    font-weight: bold; }
  .summary p {
    color: #888888;
    font-size: 16px; }
    .summary p:nth-of-type(1) {
      padding-right: 5rem; }
    .summary p:nth-of-type(2) {
      padding-left: 1.5rem;
      margin-bottom: 10px; }
    .summary p:nth-of-type(3) {
      padding-left: 1.5rem;
      margin-bottom: 10px; }
    .summary p:nth-of-type(4) {
      padding-left: 1.5rem;
      margin-bottom: 10px; }
    .summary p:nth-of-type(5) {
      padding-left: 1.5rem;
      margin-bottom: 10px; }
    .summary p:last-of-type {
      padding-left: 1.5rem;
      margin-bottom: 2.5rem; }
  .summary .push-left {
    padding-left: 0 !important; }
  .summary .sub-title2 {
    color: #FF9914; }
  .summary .sub-title1 {
    color: #3DB535; }
  .summary span {
    margin-top: 25px; }
    .summary span .start-trading-link {
      background: #3DB535;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      -o-border-radius: 4px 4px 4px 4px;
      -ms-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      padding: 10px 50px;
      color: #ffffff;
      font-size: 18px;
      font-weight: normal;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
      .summary span .start-trading-link:hover {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        background: #308e29;
        color: #e6e6e6;
        -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
        -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
        -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
        -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
        box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015); }
    .summary span .start-trading-link1 {
      background: #FF9914; }
      .summary span .start-trading-link1:hover {
        background: #e07f00; }

/* end of summary*/
/*partners*/
.partners-border {
  border-top: 1px solid #efefef; }
  .partners-border .partners {
    padding-top: 5em;
    padding-bottom: 4em; }
    .partners-border .partners h4 {
      font-weight: bold;
      font-size: 28px; }
    .partners-border .partners .p-color {
      color: #888888; }
    .partners-border .partners div {
      margin-bottom: 15px; }
      .partners-border .partners div a img {
        max-width: 109px;
        max-height: 56px;
        object-fit: contain; }
      .partners-border .partners div a:hover {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s; }
        .partners-border .partners div a:hover img {
          -moz-transition: all 0.35s;
          -webkit-transition: all 0.35s;
          -ms-transition: all 0.35s;
          -o-transition: all 0.35s;
          transition: all 0.35s;
          -webkit-filter: grayscale(90%);
          -ms-filter: grayscale(90%);
          -moz-filter: grayscale(90%);
          -o-filter: grayscale(90%);
          filter: grayscale(90%); }

/*end of partners*/
/* security*/
.security-bg {
  padding-top: 5em;
  padding-bottom: 5em;
  background: #F5FFEA; }
  .security-bg h4 {
    font-size: 24px;
    font-weight: bold; }
  .security-bg p {
    color: #888888;
    padding-top: 15px; }
  .security-bg .traction {
    color: #444444;
    font-size: 40px;
    padding-top: 0;
    line-height: 1.5;
    margin-bottom: 0; }
  .security-bg img {
    margin-bottom: 5px; }
  .security-bg .span {
    font-size: 13px;
    line-height: 1.5;
    width: 90%;
    margin-left: 5%;
    padding-top: 0; }
  .security-bg span {
    font-size: 13px;
    color: #08BDBD; }

.security-bg1 {
  background: #ffffff; }

.border-bottom {
  border-top: 1px solid #efefef; }

/*end of security*/
/*blog*/
.blog {
  padding-top: 5em;
  padding-bottom: 5em; }
  .blog h4 {
    font-weight: bold;
    font-size: 28px; }
  .blog .no1 {
    padding-top: .8rem;
    padding-bottom: 2.5rem; }
  .blog .blog-border {
    -webkit-border-color: #f8f8f8;
    -moz-border-color: #f8f8f8;
    -o-border-color: #f8f8f8;
    -ms-border-color: #f8f8f8;
    border-color: #f8f8f8;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .blog .blog-border h4 {
      font-weight: bold;
      color: #08BDBD;
      font-size: 16px;
      padding-top: .8em;
      padding-right: .3em; }
    .blog .blog-border span {
      font-size: 14px;
      font-weight: 200;
      color: #888888; }
    .blog .blog-border p {
      padding-right: .3em;
      color: #666666; }
    .blog .blog-border a {
      font-size: 14px;
      color: #08BDBD; }
      .blog .blog-border a:hover {
        color: #888888; }
    .blog .blog-border img {
      -moz-border-radius: 8px 0 0 8px;
      -webkit-border-radius: 8px 0 0 8px;
      -o-border-radius: 8px 0 0 8px;
      -ms-border-radius: 8px 0 0 8px;
      border-radius: 8px 0 0 8px;
      position: absolute;
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .blog .more-posts {
    padding-top: 3.5em; }
    .blog .more-posts a {
      padding: 10px 20px;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      -webkit-border-color: #3DB535;
      -moz-border-color: #3DB535;
      -o-border-color: #3DB535;
      -ms-border-color: #3DB535;
      border-color: #3DB535;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      color: #3DB535;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
      .blog .more-posts a:hover {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-border-color: #297a24;
        -moz-border-color: #297a24;
        -o-border-color: #297a24;
        -ms-border-color: #297a24;
        border-color: #297a24;
        -webkit-border-width: 1px;
        -moz-border-width: 1px;
        -o-border-width: 1px;
        -ms-border-width: 1px;
        border-width: 1px;
        -webkit-border-style: solid;
        -moz-border-style: solid;
        -o-border-style: solid;
        -ms-border-style: solid;
        border-style: solid;
        color: #297a24; }

/*end of blog*/
/* login*/
.page-title-bg {
  position: relative; }
  .page-title-bg:before {
    position: absolute;
    content: " ";
    top: 0;
    width: 100%;
    background: -moz-linear-gradient(50deg, #0BA717 10%, #acbb16 80%);
    background: -webkit-linear-gradient(50deg, #0BA717 10%, #acbb16 80%);
    background: -o-linear-gradient(50deg, #0BA717 10%, #acbb16 80%);
    background: -ms-linear-gradient(50deg, #0BA717 10%, #acbb16 80%);
    background: linear-gradient(50deg, #0BA717 10%, #acbb16 80%);
    opacity: .72;
    height: 100%; }
  .page-title-bg h4 {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px; }

.page-title-bg1 {
  min-height: 10vh; }

.login h4 {
  font-size: 24px;
  font-weight: 500;
  color: #444444; }
.login span {
  font-size: 13px;
  color: #888888; }

.login-bg {
  -webkit-border-color: #fefefe;
  -moz-border-color: #fefefe;
  -o-border-color: #fefefe;
  -ms-border-color: #fefefe;
  border-color: #fefefe;
  -webkit-border-width: 1px;
  -moz-border-width: 1px;
  -o-border-width: 1px;
  -ms-border-width: 1px;
  border-width: 1px;
  -webkit-border-style: solid;
  -moz-border-style: solid;
  -o-border-style: solid;
  -ms-border-style: solid;
  border-style: solid;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  background: #fafafa; }
  .login-bg button[type=submit] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3DB535;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    color: #ffffff; }
    .login-bg button[type=submit]:hover {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      background-color: #22661e; }
    .login-bg button[type=submit]:focus {
      -moz-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      -webkit-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -o-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -ms-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      -moz-box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3);
      box-shadow: 1px 1px 8px 2px rgba(61, 181, 53, 0.3); }
  .login-bg input:focus, .login-bg .contact-form textarea:focus, .contact-form .login-bg textarea:focus {
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    box-shadow: none;
    -webkit-border-color: #FF9914;
    -moz-border-color: #FF9914;
    -o-border-color: #FF9914;
    -ms-border-color: #FF9914;
    border-color: #FF9914;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid; }
  .login-bg label {
    color: #888888;
    font-size: 14px; }
    .login-bg label .label {
      -moz-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      color: #3DB535; }
      .login-bg label .label:hover {
        -moz-transition: all 0.25s;
        -webkit-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        color: #444444; }
  .login-bg .forgot-pass {
    font-size: 14px;
    color: #888888; }
    .login-bg .forgot-pass:hover {
      color: #3DB535; }
  .login-bg .account {
    font-size: 15px;
    padding-top: 2rem;
    font-weight: 200;
    color: #888888; }
    .login-bg .account a {
      color: #3DB535; }
      .login-bg .account a:hover {
        color: #888888; }

/*end of login*/
/*marketplace*/
.custom-select {
  background: #fff url(../images/icons/dropdown.svg) no-repeat right 0.75rem center !important;
  padding-left: 15px; }

.search-output p {
  font-size: 23px;
  font-weight: 200; }
  .search-output p span {
    font-weight: 400; }

.search {
  position: relative; }
  .search select {
    position: absolute;
    right: 10px;
    padding-left: 10px;
    background: #ffffff;
    -webkit-border-color: #dddddd;
    -moz-border-color: #dddddd;
    -o-border-color: #dddddd;
    -ms-border-color: #dddddd;
    border-color: #dddddd;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-weight: 100;
    width: 35%; }
    .search select:focus {
      border: none;
      -webkit-box-shadow: 1px 0px 8px 2px rgba(61, 181, 53, 0.1), 0px 1px 8px 2px rgba(61, 181, 53, 0.1);
      -o-box-shadow: 1px 0px 8px 2px rgba(61, 181, 53, 0.1), 0px 1px 8px 2px rgba(61, 181, 53, 0.1);
      -ms-box-shadow: 1px 0px 8px 2px rgba(61, 181, 53, 0.1), 0px 1px 8px 2px rgba(61, 181, 53, 0.1);
      -moz-box-shadow: 1px 0px 8px 2px rgba(61, 181, 53, 0.1), 0px 1px 8px 2px rgba(61, 181, 53, 0.1);
      box-shadow: 1px 0px 8px 2px rgba(61, 181, 53, 0.1), 0px 1px 8px 2px rgba(61, 181, 53, 0.1);
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      -webkit-border-color: #3DB535;
      -moz-border-color: #3DB535;
      -o-border-color: #3DB535;
      -ms-border-color: #3DB535;
      border-color: #3DB535;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }

.marketplace .products {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 1em;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s; }
  .marketplace .products .product-border {
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-border-color: #efefef;
    -moz-border-color: #efefef;
    -o-border-color: #efefef;
    -ms-border-color: #efefef;
    border-color: #efefef;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  .marketplace .products .img-div {
    position: relative; }
    .marketplace .products .img-div .product-img {
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0; }
    .marketplace .products .img-div span {
      color: #ffffff;
      position: absolute;
      bottom: -6.5%;
      right: 5%;
      padding: 3px 10px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      font-size: .8em; }
    .marketplace .products .img-div .sold-out {
      background: #D90F45; }
    .marketplace .products .img-div .opening-soon {
      background: #FF9914; }
    .marketplace .products .img-div .now-selling {
      background: #0BA717; }
  .marketplace .products .product-name {
    margin-bottom: 0;
    padding-left: 20px;
    padding-top: 15px; }
    .marketplace .products .product-name a {
      font-size: 18px; }
      .marketplace .products .product-name a:hover {
        text-decoration: underline;
        color: #6f6f6f; }
  .marketplace .products .percent {
    font-weight: bold; }
  .marketplace .products .percent, .marketplace .products .month {
    font-weight: bold; }
  .marketplace .products .duration {
    color: #888888;
    font-size: 14.5px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
    position: relative; }
    .marketplace .products .duration:after {
      position: absolute;
      content: " ";
      width: 84%;
      -webkit-border-color: #efefef;
      -moz-border-color: #efefef;
      -o-border-color: #efefef;
      -ms-border-color: #efefef;
      border-color: #efefef;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      left: 8%;
      bottom: 0; }
  .marketplace .products .product-price {
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 20px;
    color: #888888;
    font-size: 13px;
    margin-bottom: 0; }
    .marketplace .products .product-price span {
      font-size: 20px;
      color: #3DB535 !important; }
  .marketplace .products:hover .product-border {
    -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
    -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
    -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
    -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
    box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 0px 4px 18px 6px rgba(0, 0, 0, 0.015);
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
    .marketplace .products:hover .product-border a img {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      -webkit-filter: grayscale(50%);
      -ms-filter: grayscale(50%);
      -moz-filter: grayscale(50%);
      -o-filter: grayscale(50%);
      filter: grayscale(50%); }

#marketplace-filter h5 {
  position: relative;
  padding-bottom: 5px; }
  #marketplace-filter h5:after {
    position: absolute;
    content: " ";
    -webkit-border-color: #acbb16;
    -moz-border-color: #acbb16;
    -o-border-color: #acbb16;
    -ms-border-color: #acbb16;
    border-color: #acbb16;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid;
    bottom: 0;
    width: 90%;
    left: 0; }
  #marketplace-filter h5 .shop-title {
    font-weight: 200;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    font-size: 1.08rem; }
    #marketplace-filter h5 .shop-title:hover {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      color: #2e3206; }
    #marketplace-filter h5 .shop-title:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      right: 30% !important;
      position: absolute;
      content: "\f107"; }
    #marketplace-filter h5 .shop-title.collapsed:after {
      content: "\f105"; }
#marketplace-filter .shop-sub-class {
  padding-top: 1rem; }
  #marketplace-filter .shop-sub-class .form-check-input {
    margin-left: 0; }
  #marketplace-filter .shop-sub-class label {
    font-size: .89rem;
    padding-left: 1.8rem; }

/*end of marketplace*/
/*individual product */
.page-title-list {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 5.2%; }
  .page-title-list li {
    padding: 25px 5px;
    font-size: 20px;
    display: inline-block;
    color: #ffffff; }
    .page-title-list li a {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      padding: 10px 5px;
      color: #ffffff;
      font-size: 20px; }
      .page-title-list li a:hover {
        color: #ebebeb; }
      .page-title-list li a.active {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        font-weight: 600; }

.individual-head {
  margin-top: 2rem;
  margin-bottom: 4rem; }
  .individual-head img {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  .individual-head .title {
    font-size: 26px; }
  .individual-head .duration {
    font-size: 20px;
    color: #08BDBD;
    margin-bottom: 0;
    font-weight: 200; }
    .individual-head .duration span {
      font-weight: bold; }
  .individual-head .no-left {
    margin-top: 0;
    font-size: 18px;
    color: #888888; }
    .individual-head .no-left span {
      font-weight: bold; }
  .individual-head .product-price {
    font-size: 32px;
    padding-top: .36em;
    padding-bottom: .86em;
    color: #3DB535;
    position: relative; }
    .individual-head .product-price:after {
      content: " ";
      position: absolute;
      width: 40%;
      bottom: 0;
      left: 0;
      -webkit-border-color: #efefef;
      -moz-border-color: #efefef;
      -o-border-color: #efefef;
      -ms-border-color: #efefef;
      border-color: #efefef;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }
  .individual-head .number-input .button {
    padding-top: .86em; }
    .individual-head .number-input .button p {
      margin-bottom: 5px;
      color: #888888;
      font-size: 14px; }
    .individual-head .number-input .button .minus, .individual-head .number-input .button .plus {
      padding: .4em .7em;
      background: #efefef;
      -webkit-border-color: #efefef;
      -moz-border-color: #efefef;
      -o-border-color: #efefef;
      -ms-border-color: #efefef;
      border-color: #efefef;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }
      .individual-head .number-input .button .minus:focus, .individual-head .number-input .button .plus:focus {
        outline: none !important; }
    .individual-head .number-input .button input[type=number]::-webkit-inner-spin-button, .individual-head .number-input .button .contact-form textarea[type=number]::-webkit-inner-spin-button, .contact-form .individual-head .number-input .button textarea[type=number]::-webkit-inner-spin-button,
    .individual-head .number-input .button input[type=number]::-webkit-outer-spin-button,
    .individual-head .number-input .button .contact-form textarea[type=number]::-webkit-outer-spin-button,
    .contact-form .individual-head .number-input .button textarea[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .individual-head .number-input .button .quantity[type=number] {
      margin-left: -3.5px !important;
      margin-right: -3.5px !important;
      -webkit-border-color: #efefef;
      -moz-border-color: #efefef;
      -o-border-color: #efefef;
      -ms-border-color: #efefef;
      border-color: #efefef;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      padding-top: .4em;
      padding-bottom: .4em;
      width: 12%;
      text-align: center; }
      .individual-head .number-input .button .quantity[type=number]:focus {
        outline: none !important; }
  .individual-head .trade {
    margin-left: 10px;
    color: #ffffff;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    background: #3DB535;
    padding: .6em 2em;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; }
    .individual-head .trade:hover {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      color: #e6e6e6;
      background: #308e29; }
  .individual-head .contact-manager {
    margin-left: 10px;
    padding: .53em 2em;
    color: #3DB535;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-color: #3DB535;
    -moz-border-color: #3DB535;
    -o-border-color: #3DB535;
    -ms-border-color: #3DB535;
    border-color: #3DB535;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid; }
    .individual-head .contact-manager:hover {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      color: #308e29;
      -webkit-text-shadow: 1px 1px rgba(0, 0, 0, 0.04);
      -o-text-shadow: 1px 1px rgba(0, 0, 0, 0.04);
      -ms-text-shadow: 1px 1px rgba(0, 0, 0, 0.04);
      -moz-text-shadow: 1px 1px rgba(0, 0, 0, 0.04);
      text-shadow: 1px 1px rgba(0, 0, 0, 0.04);
      -webkit-border-color: #308e29;
      -moz-border-color: #308e29;
      -o-border-color: #308e29;
      -ms-border-color: #308e29;
      border-color: #308e29;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }

/*simulator*/
.simulator-bg {
  background: #F7F7F7; }
  .simulator-bg .simulate {
    position: relative; }
    .simulator-bg .simulate:before {
      position: absolute;
      content: " ";
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-border-color: #dddddd;
      -moz-border-color: #dddddd;
      -o-border-color: #dddddd;
      -ms-border-color: #dddddd;
      border-color: #dddddd;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #444444;
  background: none;
  position: relative; }
  .nav-pills .nav-link.active:before, .nav-pills .show > .nav-link:before {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 88%;
    -webkit-border-color: #3DB535;
    -moz-border-color: #3DB535;
    -o-border-color: #3DB535;
    -ms-border-color: #3DB535;
    border-color: #3DB535;
    -webkit-border-width: 2px;
    -moz-border-width: 2px;
    -o-border-width: 2px;
    -ms-border-width: 2px;
    border-width: 2px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid; }

.nav-item-tab {
  padding-right: 3.5rem; }
  .nav-item-tab .nav-link {
    color: #888888;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 0; }

.product-tab {
  width: 65%; }
  .product-tab p {
    color: #888888;
    line-height: 1.9; }

.calculator {
  background: #ffffff;
  margin-left: 0;
  margin-right: 0;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; }
  .calculator .calc-btn p {
    margin-bottom: 10px;
    color: #888888;
    font-size: 16px; }
  .calculator .calc-btn .minus, .calculator .calc-btn .individual-head .number-input .button .plus, .individual-head .number-input .button .calculator .calc-btn .plus, .calculator .calc-btn .plus {
    padding: .4em .7em;
    background: #efefef;
    -webkit-border-color: #efefef;
    -moz-border-color: #efefef;
    -o-border-color: #efefef;
    -ms-border-color: #efefef;
    border-color: #efefef;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid; }
    .calculator .calc-btn .minus:focus, .calculator .calc-btn .plus:focus {
      outline: none !important; }
  .calculator .calc-btn input[type=number]::-webkit-inner-spin-button, .calculator .calc-btn .contact-form textarea[type=number]::-webkit-inner-spin-button, .contact-form .calculator .calc-btn textarea[type=number]::-webkit-inner-spin-button,
  .calculator .calc-btn input[type=number]::-webkit-outer-spin-button,
  .calculator .calc-btn .contact-form textarea[type=number]::-webkit-outer-spin-button,
  .contact-form .calculator .calc-btn textarea[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .calculator .calc-btn .quantity[type=number] {
    margin-left: -3.5px !important;
    margin-right: -3.5px !important;
    -webkit-border-color: #efefef;
    -moz-border-color: #efefef;
    -o-border-color: #efefef;
    -ms-border-color: #efefef;
    border-color: #efefef;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid;
    padding-top: .4em;
    padding-bottom: .4em;
    width: 30%;
    text-align: center; }
    .calculator .calc-btn .quantity[type=number]:focus {
      outline: none !important; }
  .calculator .calc-details {
    position: relative;
    padding-left: 1.5rem; }
    .calculator .calc-details .calc-title {
      margin-bottom: 0;
      color: #aaaaaa;
      font-size: 15px;
      line-height: 1; }
    .calculator .calc-details .amount {
      font-size: 22px;
      margin-bottom: .5em;
      color: #888888;
      font-size: 200; }
    .calculator .calc-details .calc-total {
      font-weight: bold;
      color: #08BDBD; }
    .calculator .calc-details:before {
      position: absolute;
      content: " ";
      height: 80%;
      left: -5%;
      top: 10%;
      border-right: 2px solid #efefef; }
  .calculator .description {
    position: relative; }
    .calculator .description p {
      color: #aaaaaa;
      font-size: 16px; }
    .calculator .description .description-title {
      font-size: 18px;
      font-weight: bold; }
    .calculator .description:before {
      position: absolute;
      content: " ";
      height: 80%;
      left: -5%;
      top: 10%;
      border-right: 2px solid #efefef; }

/*end of individual product */
/*contact manager*/
.hidden {
  display: none; }

.hidden {
  display: none; }

.contact-manager-head {
  padding-top: 1.5em;
  padding-bottom: 1.2em;
  background: #F5FFEA; }
  .contact-manager-head h4 {
    font-size: 24px;
    color: #4EBF57;
    margin-bottom: 0; }
  .contact-manager-head p {
    padding-left: 45px; }

.contact-manager-body {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  .contact-manager-body label {
    -moz-transition: all 0.45s;
    -webkit-transition: all 0.45s;
    -ms-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s;
    color: #888888; }
    .contact-manager-body label:hover {
      -moz-transition: all 0.45s;
      -webkit-transition: all 0.45s;
      -ms-transition: all 0.45s;
      -o-transition: all 0.45s;
      transition: all 0.45s;
      text-decoration: underline; }
  .contact-manager-body .send-msg[type=submit] {
    padding: 6px 20px;
    color: #ffffff;
    background: #3DB535;
    -moz-transition: all 0.45s;
    -webkit-transition: all 0.45s;
    -ms-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s;
    -webkit-border-color: #3DB535;
    -moz-border-color: #3DB535;
    -o-border-color: #3DB535;
    -ms-border-color: #3DB535;
    border-color: #3DB535;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; }
    .contact-manager-body .send-msg[type=submit]:hover {
      -moz-transition: all 0.45s;
      -webkit-transition: all 0.45s;
      -ms-transition: all 0.45s;
      -o-transition: all 0.45s;
      transition: all 0.45s;
      color: #e6e6e6;
      background: #308e29;
      -webkit-border-color: #308e29;
      -moz-border-color: #308e29;
      -o-border-color: #308e29;
      -ms-border-color: #308e29;
      border-color: #308e29;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }
    .contact-manager-body .send-msg[type=submit]:focus {
      box-shadow: none;
      -webkit-border-color: #FF9914;
      -moz-border-color: #FF9914;
      -o-border-color: #FF9914;
      -ms-border-color: #FF9914;
      border-color: #FF9914;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      outline: none; }
  .contact-manager-body .form-control:focus {
    box-shadow: none;
    -webkit-border-color: #FF9914;
    -moz-border-color: #FF9914;
    -o-border-color: #FF9914;
    -ms-border-color: #FF9914;
    border-color: #FF9914;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid; }

/*end of contact manager*/
/*search bar*/
.search-main {
  background-color: #fafafa; }
  .search-main .container-search {
    padding-top: 2.5em;
    padding-bottom: 2.5em; }
  .search-main input, .search-main .contact-form textarea, .contact-form .search-main textarea {
    width: 100%;
    padding: 12px 24px;
    background-color: #ffffff;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #FF9914;
    background-image: url("../images/icons/search.svg") !important;
    background-repeat: no-repeat !important;
    background-size: 18px 18px;
    background-position: 95% center;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-color: #3DB535;
    -moz-border-color: #3DB535;
    -o-border-color: #3DB535;
    -ms-border-color: #3DB535;
    border-color: #3DB535;
    -webkit-border-width: 1px;
    -moz-border-width: 1px;
    -o-border-width: 1px;
    -ms-border-width: 1px;
    border-width: 1px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d; }
    .search-main input::placeholder, .search-main .contact-form textarea::placeholder, .contact-form .search-main textarea::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px; }
    .search-main input:hover, .search-main .contact-form textarea:hover, .contact-form .search-main textarea:hover, .search-main input:focus, .search-main .contact-form textarea:focus, .contact-form .search-main textarea:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #3DB535;
      background: transparent;
      border-radius: 0;
      background-position: 100% center; }

/*terms*/
.terms-conditions {
  padding-top: 4em;
  padding-bottom: 3em; }
  .terms-conditions h4 {
    font-size: 24px;
    padding-bottom: 1em; }
  .terms-conditions p {
    font-size: 16px;
    color: #888888;
    line-height: 1.7; }

/*end of terms*/
/*contact us begins*/
.contact-us {
  padding-top: 3.5em;
  padding-bottom: 3.5em; }
  .contact-us h4 {
    font-size: 28px; }
  .contact-us p {
    font-size: 16px;
    color: #888888; }
  .contact-us .contact-sub {
    padding-top: 1em;
    padding-bottom: 1em; }
    .contact-us .contact-sub .contact-sub-title {
      color: #08BDBD;
      margin-bottom: 0; }
    .contact-us .contact-sub .tel {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      font-size: 20px; }
      .contact-us .contact-sub .tel:hover {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        color: #3DB535; }
  .contact-us .socials {
    list-style-type: none;
    padding-left: 0; }
    .contact-us .socials li {
      display: inline-block;
      padding-right: .5em; }
      .contact-us .socials li a svg path {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        fill: #444444; }
      .contact-us .socials li:nth-child(1) a:hover svg path {
        fill: #4251A2;
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s; }
      .contact-us .socials li:nth-child(2) a:hover svg path {
        fill: #0084b4;
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s; }
      .contact-us .socials li:nth-child(3) a:hover svg path {
        fill: #cc181e;
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s; }
      .contact-us .socials li:nth-child(4) a:hover svg path {
        fill: #9b6954;
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s; }
      .contact-us .socials li:nth-child(5) a:hover svg path {
        fill: #0077b5;
        -moz-transition: all 0.35;
        -webkit-transition: all 0.35;
        -ms-transition: all 0.35;
        -o-transition: all 0.35;
        transition: all 0.35; }

.contact-form {
  padding-bottom: 2.5em !important;
  background: #F5FFEA; }
  .contact-form label {
    font-size: 15px;
    color: #444444; }
  .contact-form input, .contact-form textarea {
    -moz-transition: all 0.35;
    -webkit-transition: all 0.35;
    -ms-transition: all 0.35;
    -o-transition: all 0.35;
    transition: all 0.35;
    font-size: 15px; }
    .contact-form input:focus, .contact-form textarea:focus {
      -moz-transition: all 0.35;
      -webkit-transition: all 0.35;
      -ms-transition: all 0.35;
      -o-transition: all 0.35;
      transition: all 0.35;
      -webkit-border-color: #FF9914;
      -moz-border-color: #FF9914;
      -o-border-color: #FF9914;
      -ms-border-color: #FF9914;
      border-color: #FF9914;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      box-shadow: none; }
  .contact-form button[type=submit] {
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    background: #3DB535;
    -moz-transition: all 0.35;
    -webkit-transition: all 0.35;
    -ms-transition: all 0.35;
    -o-transition: all 0.35;
    transition: all 0.35;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; }
    .contact-form button[type=submit]:hover {
      color: #e6e6e6;
      background: #297a24;
      -moz-transition: all 0.35;
      -webkit-transition: all 0.35;
      -ms-transition: all 0.35;
      -o-transition: all 0.35;
      transition: all 0.35; }
    .contact-form button[type=submit]:focus {
      -moz-transition: all 0.35;
      -webkit-transition: all 0.35;
      -ms-transition: all 0.35;
      -o-transition: all 0.35;
      transition: all 0.35;
      -webkit-border-color: #FF9914;
      -moz-border-color: #FF9914;
      -o-border-color: #FF9914;
      -ms-border-color: #FF9914;
      border-color: #FF9914;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      box-shadow: none !important;
      outline: none; }

/*end of contact us*/
/*about us begins*/
.about-us {
  padding-top: 3.5em;
  padding-bottom: 2.5em; }
  .about-us h4 {
    font-size: 24px;
    padding-bottom: 1em; }
  .about-us p {
    font-size: 16px;
    color: #888888;
    line-height: 1.7;
    padding-bottom: .5em; }
  .about-us img {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 8px;
    margin-bottom: 8px; }

/*end of about us*/
/*footer*/
.footer-bg {
  background: #444444; }
  .footer-bg .pad-right {
    color: #ffffff;
    font-size: 14px;
    padding-right: 30px; }
  .footer-bg h4 {
    padding-bottom: 8px;
    color: #aaaaaa;
    font-size: 16.5px;
    position: relative; }
    .footer-bg h4:after {
      position: absolute;
      content: " ";
      width: 100%;
      bottom: 0;
      left: 0;
      -webkit-border-color: #707070;
      -moz-border-color: #707070;
      -o-border-color: #707070;
      -ms-border-color: #707070;
      border-color: #707070;
      -webkit-border-width: 0.7px;
      -moz-border-width: 0.7px;
      -o-border-width: 0.7px;
      -ms-border-width: 0.7px;
      border-width: 0.7px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }
  .footer-bg .social-icons {
    list-style-type: none;
    padding-left: 0; }
    .footer-bg .social-icons li {
      display: inline-block;
      padding-left: .15em;
      padding-right: .15em;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
      .footer-bg .social-icons li:hover {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        -o-border-radius: 4px 4px 4px 4px;
        -ms-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        padding: 0 2px 2px 3px; }
        .footer-bg .social-icons li:hover:nth-of-type(1) {
          background: #4251A2; }
        .footer-bg .social-icons li:hover:nth-of-type(2) {
          background: #0084b4; }
        .footer-bg .social-icons li:hover:nth-of-type(3) {
          background: #cc181e; }
        .footer-bg .social-icons li:hover:nth-of-type(4) {
          background: #9b6954; }
        .footer-bg .social-icons li:hover:nth-of-type(5) {
          background: #0077b5; }
  .footer-bg .footer-subNav {
    list-style-type: none;
    padding-left: 0; }
    .footer-bg .footer-subNav li {
      line-height: 1.5; }
      .footer-bg .footer-subNav li a {
        color: #ffffff;
        font-size: 14px; }
        .footer-bg .footer-subNav li a:hover {
          color: #cccccc; }
  .footer-bg .footer-border-bottom {
    position: relative; }
    .footer-bg .footer-border-bottom:after {
      position: absolute;
      content: " ";
      width: 100%;
      bottom: 0;
      left: 0;
      -webkit-border-color: #6f6f6f;
      -moz-border-color: #6f6f6f;
      -o-border-color: #6f6f6f;
      -ms-border-color: #6f6f6f;
      border-color: #6f6f6f;
      -webkit-border-width: 0.7px;
      -moz-border-width: 0.7px;
      -o-border-width: 0.7px;
      -ms-border-width: 0.7px;
      border-width: 0.7px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }
  .footer-bg .copyright {
    padding-top: 1rem; }
    .footer-bg .copyright p {
      color: #ffffff;
      font-size: 13.5px; }
      .footer-bg .copyright p a {
        font-size: 13.5px;
        -moz-transition: all 0.25s;
        -webkit-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        color: #ABFF4F; }
        .footer-bg .copyright p a:hover {
          -moz-transition: all 0.25s;
          -webkit-transition: all 0.25s;
          -ms-transition: all 0.25s;
          -o-transition: all 0.25s;
          transition: all 0.25s;
          color: #5fb500; }

/* end of footer*/
/*how it works*/
.right-bg {
  background: url(../images/orang-bg@2x.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 4em;
  padding-bottom: 3em; }
  .right-bg .title-container-right {
    width: 60%;
    margin-left: 40%;
    padding-right: 15px; }
  .right-bg h4 {
    color: #ffffff;
    font-size: 27px; }
  .right-bg p {
    color: #ffffff;
    font-size: 17px; }

.left-bg {
  background: url(../images/green-bg@2x.jpg) no-repeat;
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 3em;
  position: relative;
  background-position: left 0px top 0px; }
  .left-bg .title-container-left {
    width: 60%; }
  .left-bg h4 {
    color: #ffffff;
    font-size: 27px; }
  .left-bg p {
    color: #ffffff;
    font-size: 17px; }

.how-it-works-sub-left {
  padding-top: 50px;
  padding-bottom: 50px; }
  .how-it-works-sub-left .number-left {
    color: #3DB535;
    padding-right: 30px;
    font-size: 32px;
    position: absolute;
    width: 20%; }
  .how-it-works-sub-left .span-content {
    position: absolute;
    left: 10%;
    width: 80%; }
  .how-it-works-sub-left p {
    padding-bottom: 4.5em;
    padding-top: 2em;
    line-height: 1.5;
    clear: both; }
  .how-it-works-sub-left .line-under {
    position: relative; }
    .how-it-works-sub-left .line-under:before {
      position: absolute;
      content: " ";
      border: 1px solid #ccc;
      bottom: 0;
      left: 0;
      width: 100%; }

.how-it-works-sub-right {
  padding-top: 50px;
  padding-bottom: 50px; }
  .how-it-works-sub-right .number-right {
    color: #FF9914;
    position: absolute;
    font-size: 32px;
    width: 20%;
    padding-right: 30px; }
  .how-it-works-sub-right .span-content {
    position: absolute;
    left: 15%;
    width: 80%; }
  .how-it-works-sub-right p {
    margin-left: 5%;
    padding-bottom: 4.5em;
    padding-top: 2em;
    line-height: 1.5;
    clear: both; }
  .how-it-works-sub-right .line-under {
    position: relative; }
    .how-it-works-sub-right .line-under:before {
      position: absolute;
      content: " ";
      border: 1px solid #ccc;
      bottom: 0;
      left: 0;
      width: 100%; }

/*how it works ends*/
/*request page*/
.sub-header-bg {
  background: #f2f2f2;
  padding-top: 2.5em;
  padding-bottom: 1em; }
  .sub-header-bg h4 {
    color: #515151;
    font-weight: 900;
    font-size: 1.8em; }

.page-sub-nav {
  list-style-type: none;
  padding-left: 0; }
  .page-sub-nav li {
    font-weight: 100;
    display: inline-block; }
    .page-sub-nav li a {
      color: #888888; }
      .page-sub-nav li a:hover {
        color: #6a6a6a; }

.order-received-bg {
  margin-top: 3.5em !important;
  background: #3DBC47;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  font-weight: 300;
  font-size: 18px; }
  .order-received-bg p {
    font-weight: 300;
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 0; }

.back-arrow {
  padding-bottom: 4em;
  padding-top: 1em; }
  .back-arrow .back-arrow-link {
    -webkit-border-color: #3DBC47;
    -moz-border-color: #3DBC47;
    -o-border-color: #3DBC47;
    -ms-border-color: #3DBC47;
    border-color: #3DBC47;
    -webkit-border-width: 2px;
    -moz-border-width: 2px;
    -o-border-width: 2px;
    -ms-border-width: 2px;
    border-width: 2px;
    -webkit-border-style: solid;
    -moz-border-style: solid;
    -o-border-style: solid;
    -ms-border-style: solid;
    border-style: solid;
    color: #888888;
    color: #FF9914;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 8px 20px; }
    .back-arrow .back-arrow-link:hover {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      color: #e07f00;
      -webkit-border-color: #319538;
      -moz-border-color: #319538;
      -o-border-color: #319538;
      -ms-border-color: #319538;
      border-color: #319538;
      -webkit-border-width: 2px;
      -moz-border-width: 2px;
      -o-border-width: 2px;
      -ms-border-width: 2px;
      border-width: 2px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid; }

/*request page ends*/
/* media queries*/
/*responsive images*/
@media (min-width: 768px) and (max-width: 1200px) {
  .how-it-works-sub-left {
    padding-left: 1.5rem !important; }
    .how-it-works-sub-left .span-content {
      position: absolute;
      left: 15% !important;
      width: 84% !important; }

  .how-it-works-sub-right .span-content {
    position: absolute;
    left: 15% !important;
    width: 84% !important; }
  .how-it-works-sub-right p {
    margin-left: 0 !important; } }
@media (min-width: 1660px) {
  .row {
    padding-left: 6em;
    padding-right: 6em; }

  .no-pad {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
@media (min-width: 2200px) {
  .row {
    padding-left: 8em;
    padding-right: 8em; }

  .no-pad {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .img-div img {
    height: 200px !important; } }
.pad-order {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.pad-dashboard-card {
  padding-left: 25px !important; }

.img-div img {
  width: 100%;
  object-fit: cover;
  height: 160px; }

@media (max-width: 1200px) {
  .img-div img {
    height: 130px !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .img-div img {
    height: 110px !important; } }
/*responsive images ends*/
@media (min-width: 991px) and (max-width: 1340px) {
  .trade-span {
    display: block;
    padding-bottom: 1.5em; }

  .trade {
    margin-left: 0 !important; }

  .individual-head .img-div {
    padding-right: 0 !important; }
  .individual-head .product-price {
    font-size: 28px !important;
    padding-top: .0em !important;
    padding-bottom: .46em !important; }
    .individual-head .product-price:after {
      width: 50% !important; }
  .individual-head .number-input .button {
    padding-top: .0em !important; } }
@media (min-width: 991px) and (max-width: 1200px) {
  #marketplace-filter h5 .shop-title {
    font-size: 1rem !important; }
    #marketplace-filter h5 .shop-title:after {
      right: 10% !important; } }
@media (min-width: 767px) and (max-width: 991px) {
  .individual-head .img-div {
    padding-right: 0 !important; }
  .individual-head .product-price {
    font-size: 28px !important;
    padding-top: .0em !important;
    padding-bottom: .46em !important; }
    .individual-head .product-price:after {
      width: 50% !important; }
  .individual-head .number-input {
    margin-bottom: 3em; }
    .individual-head .number-input .button {
      padding-top: .0em !important; } }
@media (min-width: 767px) and (max-width: 900px) {
  #marketplace-filter h5 .shop-title {
    font-size: 1rem !important; }
    #marketplace-filter h5 .shop-title:after {
      right: 20% !important; } }
@media (min-width: 576px) and (max-width: 767px) {
  .title-left {
    background: url("../images/mask1.jpg") no-repeat !important;
    background-size: cover !important; }
    .title-left .title-container-left {
      width: 55% !important; }

  .title-right {
    background: url("../images/mask.jpg") no-repeat !important;
    background-size: cover !important; }
    .title-right .title-container-right {
      width: 55% !important; }

  .contact-manager-span {
    display: block;
    padding-bottom: 1.5em; }

  .contact-manager {
    margin-left: 0 !important; }

  .individual-head .img-div {
    padding-right: 0 !important; }
  .individual-head .product-price {
    font-size: 24px !important;
    padding-top: .0em !important;
    padding-bottom: .26em !important; }
    .individual-head .product-price:after {
      width: 50% !important; }
  .individual-head .number-input {
    margin-bottom: 3em; }
    .individual-head .number-input .button {
      padding-top: .0em !important; } }
@media (max-width: 991px) {
  .title-container-left {
    width: 100% !important;
    padding-right: 1em;
    padding-left: 1em; }

  .title-container-right {
    position: relative !important;
    width: 100% !important;
    margin-left: 0% !important;
    padding-right: 1em;
    padding-left: 1em !important; }

  .products-container .product-name {
    padding-left: 10px !important; }
  .products-container .product-price {
    padding-left: 10px !important; }
    .products-container .product-price span {
      font-size: 15px !important; }
  .products-container .product-tab {
    width: 85%; }

  .marketplace .product-name {
    padding-left: 10px !important; }
  .marketplace .product-price {
    padding-left: 10px !important; }
    .marketplace .product-price span {
      font-size: 15px !important; }
  .marketplace .product-tab {
    width: 85%; }

  .nav-item-tab {
    padding-right: 1rem; } }
@media (max-width: 768px) {
  .products-container {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important; }

  .products {
    padding-right: 5px !important;
    padding-left: 5px !important; }

  .header .navbar-brand {
    padding-left: 20px; }

  .product-tab {
    width: 100%;
    padding-left: .5em;
    padding-right: .5em; }

  .nav-item-tab {
    padding-right: 2rem; }

  .search {
    padding-bottom: 20px; }
    .search select {
      right: 11%;
      padding-left: 10px;
      width: 35%; }
    .search .filter {
      position: absolute;
      left: 11%;
      text-align: right;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      border-bottom: 3px solid #acbb16; }
      .search .filter svg path {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        fill: #cccccc;
        stroke: #cccccc; }
      .search .filter:hover {
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        color: #FF9914; }
        .search .filter:hover svg path {
          -moz-transition: all 0.35s;
          -webkit-transition: all 0.35s;
          -ms-transition: all 0.35s;
          -o-transition: all 0.35s;
          transition: all 0.35s;
          fill: #FF9914;
          stroke: #FF9914; }

  .mobile {
    font-size: 23px !important; }

  .summary p:nth-of-type(1) {
    padding-right: 0rem;
    text-align: left; }
  .summary p:nth-of-type(2) {
    padding-left: 0rem;
    text-align: left; }
  .summary p:nth-of-type(3) {
    text-align: left;
    padding-left: 0rem; }
  .summary p:nth-of-type(4) {
    padding-left: 0rem;
    text-align: left; }
  .summary p:last-of-type {
    padding-left: 0rem;
    text-align: left; }

  .blog-border div {
    padding-right: 0 !important; }
    .blog-border div img {
      -moz-border-radius: 8px 8px 0 0 !important;
      -webkit-border-radius: 8px 8px 0 0 !important;
      -o-border-radius: 8px 8px 0 0 !important;
      -ms-border-radius: 8px 8px 0 0 !important;
      border-radius: 8px 8px 0 0 !important; }

  .main-title {
    font-size: 28px !important; }

  .products-container .insurance-container {
    padding-bottom: 1em; }

  #farmshop-filter {
    overflow-y: auto !important;
    height: 80vh; }

  .form-check-input {
    position: relative; }

  #farmshop-filter .shop-sub-class label {
    padding-left: 0.8rem; } }
@media (max-width: 767px) {
  .overlay {
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    position: relative; }
    .overlay:before {
      position: absolute;
      content: " ";
      width: 100%;
      z-index: 1000;
      height: 100%;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.9);
      top: 0;
      left: 0;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }

  #slide-out {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: fixed;
    top: 0%;
    width: 90%;
    height: 100%;
    left: 0%;
    z-index: 1000;
    -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.02);
    -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.02);
    -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.02);
    box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.02); }
    #slide-out .fa-2x {
      font-size: 1.3em;
      color: #444444;
      background: #F7F7F7;
      -moz-border-radius: 50% 50% 50% 50%;
      -webkit-border-radius: 50% 50% 50% 50%;
      -o-border-radius: 50% 50% 50% 50%;
      -ms-border-radius: 50% 50% 50% 50%;
      border-radius: 50% 50% 50% 50%; }

  .d-hide-filter {
    display: none; }

  /*mobile slider begins*/
  .slider {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible; }
    to {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); } }
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible; }
    to {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); } }
  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight; }

  @-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible; }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible; }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft; }

  /*mobile slider ends*/ }
@media (max-width: 575px) {
  .search select {
    right: 4% !important; }
  .search .filter {
    left: 5% !important; }

  #product-insurance {
    padding-bottom: .45em !important;
    line-height: 1.3 !important; }

  #product-detail {
    line-height: 1.3 !important;
    padding-bottom: .45em !important; }

  .contact-manager-span {
    display: block;
    padding-bottom: 1.5em; }

  .contact-manager {
    margin-left: 0 !important; }

  .individual-head .title {
    font-size: 20px !important;
    margin-bottom: .2em; }
  .individual-head .no-left {
    font-size: 16px; }
  .individual-head .img-div {
    padding-right: 0 !important; }
  .individual-head .product-price {
    font-size: 24px !important;
    padding-top: .0em !important;
    padding-bottom: .26em !important; }
    .individual-head .product-price:after {
      width: 50% !important; }
  .individual-head .number-input {
    margin-bottom: 3em; }
    .individual-head .number-input .button {
      padding-top: .0em !important; } }
@media (max-width: 450px) {
  .page-title-list {
    margin-left: 0%; }

  .sub-head-main {
    padding-left: 0; }

  .page-title-list li {
    padding: 25px 3px; }
    .page-title-list li a {
      padding-left: 0;
      padding-right: 0; }

  .start-trading-link {
    padding: 10px 45px !important; } }
@media (max-width: 421px) {
  .how-it-works-sub-right .span-content {
    position: absolute;
    left: 15% !important;
    width: 80% !important; }
  .how-it-works-sub-right p {
    margin-left: 0 !important; }

  .how-it-works-sub-left {
    padding-left: 1.5rem !important; }
    .how-it-works-sub-left .span-content {
      position: absolute;
      left: 15% !important;
      width: 80% !important; } }
@media (max-width: 320px) {
  .individual-head .trade {
    padding: .6em 1.5em; } }
/* end of media queries*/
/*mobile menu begins*/
@media (max-width: 991px) {
  .menu ul li a {
    padding-left: 2em;
    padding-right: 2em;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    color: #ffffff; }
    .menu ul li a:hover {
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      color: #b3b3b3 !important; }
    .menu ul li a.login {
      text-align: center !important;
      width: 40vw;
      margin-left: 30vw;
      margin-top: 5%;
      margin-bottom: 5%;
      display: block;
      padding: .3rem 1rem !important;
      position: relative !important; }
    .menu ul li a.sign-up {
      text-align: center !important;
      width: 50vw;
      margin-left: 25vw !important;
      margin-top: 5%;
      margin-bottom: 5%;
      padding: .3rem 1rem !important;
      position: relative; } }
/*mobile menu ends*/

/*# sourceMappingURL=main.css.map */
