/**
 * Gutenberg Editor Styles
 */
@import 'abstracts/variables';
@import 'abstracts/utils';
@import 'abstracts/mixins';

$guten-editor: true;
$post-content-output: false;
@import 'components/post-content';

//
// Defaults
//
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes editor_region_focus {
	0% {
		box-shadow: inset 0 0 0 0 #33b3db;
	}

	to {
		box-shadow: inset 0 0 0 4px #33b3db;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(1turn);
	}
}

.editor-block-list__block {

	ol,
	ul {
		margin: 0;
		padding: 0;
	}

	ul:not(.wp-block-gallery) {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}
}

//
// Inner
//
.editor-block-list__block-edit {

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	@import 'components/wp-defaults';
	@import 'base/elements';
	@import 'components/galleries';
	

	@include post-content;
	@include entry-content;

	p {
		@include entry-content-base;
	}

	blockquote p {
		color: inherit;
	}

	.wp-block-gallery {
		li:before { 
			display: none; 
		}
	}

	.block-library-list ul {
		list-style: none;
	}

	// Undo for common-post-content
	> :first-child,
	> :last-child {
		margin-top: initial;
	}
}

//
// For Lists that require direct descendents
//
.block-library-list .components-autocomplete {
	@include entry-content;
}

.editor-rich-text__tinymce.mce-content-body {
	line-height: inherit;
}

// Causes problem on Gutenberg v4.1+ 
// 
// .editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit {
// 	margin-bottom: 15px;
// 	margin-top: 0;
// }

.editor-block-list__layout > [data-type="core/paragraph"] > .editor-block-list__block-edit {
	margin-top: 0;
	margin-bottom: 15px;
}

// Needs margin when inside columns
.wp-block-columns [data-type="core/paragraph"]:first-child > .editor-block-list__block-edit {
	margin-top: 28px;
}

.wp-block {
	max-width: 750px;
}

.wp-block[data-align="wide"] {
	max-width: 1100px;
}

// Specifics - bugged with left align
[data-type="core/pullquote"][data-align=left] .editor-block-list__block-edit,
[data-type="core/pullquote"][data-align=right] .editor-block-list__block-edit {
	max-width: 45%;

	p {
		font-size: inherit !important;
	}
}

.wp-block-pullquote {
	.wp-block-pullquote__citation {
		margin-top: 0 !important;
		padding-top: 24px;
	}
}

.editor-post-title__block .editor-post-title__input {
	margin-bottom: 35px;
}

// [data-align=left] .wp-block-pullquote {
// 	padding-top: 10px;
// 	padding-bottom: 1em;
// 	max-width: 100%;
// }