@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helveticaneue-medium-webfont.eot');
    src: url('../fonts/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-medium-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-medium-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-medium-webfont.svg#HelveticaNeueRegular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helveticaneue-light-webfont.eot');
    src: url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-light-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-light-webfont.svg#HelveticaNeueRegular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: "Rockwell";
	src: url("../fonts/Rockwell_400_normal_1450441776.eot");
	src: url("../fonts/Rockwell_400_normal_1450441776.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Rockwell_400_normal_1450441776.svg#Rockwell") format("svg"),
		url("../fonts/Rockwell_400_normal_1450441776.woff") format("woff"),
		url("../fonts/Rockwell_400_normal_1450441776.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('../fonts/architectsdaughter-webfont.eot');
    src: url('../fonts/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/architectsdaughter-webfont.woff2') format('woff2'),
         url('../fonts/architectsdaughter-webfont.woff') format('woff'),
         url('../fonts/architectsdaughter-webfont.ttf') format('truetype'),
         url('../fonts/architectsdaughter-webfont.svg#architects_daughterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-style: normal;
    font-weight: normal;
}

/*  Bebas  */

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.eot');
    src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue.woff') format('woff'),
        url('../fonts/BebasNeue.ttf') format('truetype'),
        url('../fonts/BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Amino  */


@font-face {
    font-family: 'Amino-AltBold';
    src: url('../fonts/Amino-AltBold.eot');
    src: url('../fonts/Amino-AltBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-AltBold.woff') format('woff'),
        url('../fonts/Amino-AltBold.ttf') format('truetype'),
        url('../fonts/Amino-AltBold.svg#AminoAlt-Regular4') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amino-BoldItalic';
    src: url('../fonts/Amino-BoldItalic.eot');
    src: url('../fonts/Amino-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-BoldItalic.woff') format('woff'),
        url('../fonts/Amino-BoldItalic.ttf') format('truetype'),
        url('../fonts/Amino-BoldItalic.svg#AminoAlt-Regular4') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amino-Medium';
    src: url('../fonts/Amino-Medium.eot');
    src: url('../fonts/Amino-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Medium.woff') format('woff'),
        url('../fonts/Amino-Medium.ttf') format('truetype'),
        url('../fonts/Amino-Medium.svg#AminoAlt-Regular4') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amino-Regular';
    src: url('../fonts/Amino-Regular.eot');
    src: url('../fonts/Amino-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular.woff') format('woff'),
        url('../fonts/Amino-Regular.ttf') format('truetype'),
        url('../fonts/Amino-Regular.svg#AminoAlt-Regular4') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amino-Regular2';
    src: url('../fonts/Amino-Regular2.eot');
    src: url('../fonts/Amino-Regular2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular2.woff') format('woff'),
        url('../fonts/Amino-Regular2.ttf') format('truetype'),
        url('../fonts/Amino-Regular2.svg#AminoAlt-Regular4') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular3';
    src: url('../fonts/Amino-Regular3.eot');
    src: url('../fonts/Amino-Regular3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular3.woff') format('woff'),
        url('../fonts/Amino-Regular3.ttf') format('truetype'),
        url('../fonts/Amino-Regular3.svg#AminoAlt-Regular2') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular4';
    src: url('../fonts/Amino-Regular4.eot');
    src: url('../fonts/Amino-Regular4.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular4.woff') format('woff'),
        url('../fonts/Amino-Regular4.ttf') format('truetype'),
        url('../fonts/Amino-Regular4.svg#Amino-Regular6') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular5';
    src: url('../fonts/Amino-Regular5.eot');
    src: url('../fonts/Amino-Regular5.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular5.woff') format('woff'),
        url('../fonts/Amino-Regular5.ttf') format('truetype'),
        url('../fonts/Amino-Regular5.svg#Amino-Regular3') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular6';
    src: url('../fonts/Amino-Regular6.eot');
    src: url('../fonts/Amino-Regular6.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular6.woff') format('woff'),
        url('../fonts/Amino-Regular6.ttf') format('truetype'),
        url('../fonts/Amino-Regular6.svg#Amino-Regular8') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular7';
    src: url('../fonts/Amino-Regular7.eot');
    src: url('../fonts/Amino-Regular7.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular7.woff') format('woff'),
        url('../fonts/Amino-Regular7.ttf') format('truetype'),
        url('../fonts/Amino-Regular7.svg#Amino-Regular4') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular8';
    src: url('../fonts/Amino-Regular8.eot');
    src: url('../fonts/Amino-Regular8.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular8.woff') format('woff'),
        url('../fonts/Amino-Regular8.ttf') format('truetype'),
        url('../fonts/Amino-Regular8.svg#Amino-Regular14') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular9';
    src: url('../fonts/Amino-Regular9.eot');
    src: url('../fonts/Amino-Regular9.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular9.woff') format('woff'),
        url('../fonts/Amino-Regular9.ttf') format('truetype'),
        url('../fonts/Amino-Regular9.svg#Amino-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Amino-Regular10';
    src: url('../fonts/Amino-Regular10.eot');
    src: url('../fonts/Amino-Regular10.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AAmino-Regular10.woff') format('woff'),
        url('../fonts/Amino-Regular10.ttf') format('truetype'),
        url('../fonts/Amino-Regular10.svg#Amino-Regular13') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular11';
    src: url('../fonts/Amino-Regular11.eot');
    src: url('f../fonts/Amino-Regular11.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular11.woff') format('woff'),
        url('../fonts/Amino-Regular11.ttf') format('truetype'),
        url('../fonts/Amino-Regular11.svg#AminoAlt-Regular6') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular12';
    src: url('../fonts/Amino-Regular12.eot');
    src: url('../fonts/Amino-Regular12.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular12.woff') format('woff'),
        url('../fonts/Amino-Regular12.ttf') format('truetype'),
        url('../fonts/Amino-Regular12.svg#AminoAlt-Regular7') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular13';
    src: url('../fonts/Amino-Regular13.eot');
    src: url('../fonts/Amino-Regular13.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular13.woff') format('woff'),
        url('../fonts/Amino-Regular13.ttf') format('truetype'),
        url('../fonts/Amino-Regular13.svg#Amino-Regular7') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Regular14';
    src: url('../fonts/Amino-Regular14.eot');
    src: url('../fonts/Amino-Regular14.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular14.woff') format('woff'),
        url('../fonts/Amino-Regular14.ttf') format('truetype'),
        url('../fonts/Amino-Regular14.svg#Amino-Regular5') format('svg');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'AminoAlt-Regular2';
    src: url('../fonts/AminoAlt-Regular2.eot');
    src: url('../fonts/AminoAlt-Regular2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AminoAlt-Regular2.woff') format('woff'),
        url('../fonts/AminoAlt-Regular2.ttf') format('truetype'),
        url('../fonts/AminoAlt-Regular2.svg#Amino-Regular5') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AminoAlt-Regular3';
    src: url('fonts/AminoAlt-Regular3.eot');
    src: url('fonts/AminoAlt-Regular3.eot?#iefix') format('embedded-opentype'),
        url('fonts/AminoAlt-Regular3.woff') format('woff'),
        url('fonts/AminoAlt-Regular3.ttf') format('truetype'),
        url('fonts/AminoAlt-Regular3.svg#Amino-Regular5') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AminoAlt-Regular4';
    src: url('../fonts/AminoAlt-Regular4.eot');
    src: url('../fonts/AminoAlt-Regular4.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AminoAlt-Regular4.woff') format('woff'),
        url('../fonts/AminoAlt-Regular4.ttf') format('truetype'),
        url('../fonts/AminoAlt-Regular4.svg#AminoAlt-Regular3') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AminoAlt-Regular5';
    src: url('../fonts/AminoAlt-Regular5.eot');
    src: url('../fonts/AminoAlt-Regular5.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AminoAlt-Regular5.woff') format('woff'),
        url('../fonts/AminoAlt-Regular5.ttf') format('truetype'),
        url('../fonts/AminoAlt-Regular5.svg#Amino-Regular9') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AminoAlt-Regular6';
    src: url('../fonts/AminoAlt-Regular6.eot');
    src: url('../fonts/AminoAlt-Regular6.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AminoAlt-Regular6.woff') format('woff'),
        url('../fonts/AminoAlt-Regular6.ttf') format('truetype'),
        url('../fonts/AminoAlt-Regular6.svg#Amino-Regular12') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AminoAlt-Regular7';
    src: url('../fonts/AminoAlt-Regular7.eot');
    src: url('../fonts/AminoAlt-Regular7.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AminoAlt-Regular7.woff') format('woff'),
        url('../fonts/AminoAlt-Regular7.ttf') format('truetype'),
        url('../fonts/AminoAlt-Regular7.svg#Amino-Regular2') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* 
@font-face {
    font-family: 'Amino 4';
    src: url('../fonts/Amino-Regular11.eot');
    src: url('../fonts/Amino-Regular11.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular11.woff') format('woff'),
        url('../fonts/Amino-Regular11.ttf') format('truetype'),
        url('../fonts/Amino-Regular11.svg#Amino-Regular11') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino 5';
    src: url('../fonts/Amino-Regular10.eot');
    src: url('../fonts/Amino-Regular10.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular10.woff') format('woff'),
        url('../fonts/Amino-Regular10.ttf') format('truetype'),
        url('../fonts/Amino-Regular10.svg#Amino-Regular10') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Alt 3';
    src: url('../fonts/AminoAlt-Regular5.eot');
    src: url('../fonts/AminoAlt-Regular5.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AminoAlt-Regular5.woff') format('woff'),
        url('../fonts/AminoAlt-Regular5.ttf') format('truetype'),
        url('../fonts/AminoAlt-Regular5.svg#AminoAlt-Regular5') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amino-Alt';
    src: url('../fonts/Amino-AltBold.eot');
    src: url('../fonts/Amino-AltBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-AltBold.woff') format('woff'),
        url('../fonts/Amino-AltBold.ttf') format('truetype'),
        url('../fonts/Amino-AltBold.svg#Amino-AltBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amino';
    src: url('../fonts/Amino-Regular.eot');
    src: url('../fonts/Amino-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular.woff') format('woff'),
        url('../fonts/Amino-Regular.ttf') format('truetype'),
        url('../fonts/Amino-Regular.svg#Amino-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amino m';
    src: url('../fonts/Amino-medium.eot');
    src: url('../fonts/Amino-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-medium.woff') format('woff'),
        url('../fonts/Amino-medium.ttf') format('truetype'),
        url('../fonts/Amino-medium.svg#Amino-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'italic';
    src: url('../fonts/architectsdaughter-webfont.eot');
    src: url('../fonts/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/architectsdaughter-webfont.woff') format('woff'),
        url('../fonts/architectsdaughter-webfont.ttf') format('truetype'),
        url('../fonts/architectsdaughter-webfont.svg#Amino-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: 'italic';
    src: url('../fonts/Amino-Regular12.eot');
    src: url('../fonts/Amino-Regular12.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amino-Regular12.woff') format('woff'),
        url('../fonts/Amino-Regular12.ttf') format('truetype'),
        url('../fonts/Amino-Regular12.svg#Amino-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
} */