
/* ======button===== */
.link-to-next-page,.btn-submit[type="submit"]{
  color:#fff;
  padding:10px 30px;
  background:#08BD51  !important;
  transition:all 0.6s;
  border-radius: 4px  !important;
  box-shadow:1px 2px 10px 4px rgba(0, 0, 0, 0.1);
}
.link-to-next-page:hover, .btn-submit[type="submit"]:hover{
  color:#fff  !important;
  background:rgb(5, 148, 62) !important;
  box-shadow:1px 2px 10px 5px rgba(0, 0, 0, 0.1)  !important;
  transition:all 0.6s;

}

/* ========================Orders page======================================= */
.nav-icon{
  height: 21.4px;
  width: 21.4px;
}
.order-pg{
  font-size:.9em;
  color:#293737;
} 
.new-subnav-pad .order-pg{
  margin-right: .8em;

} 
.product{
  padding:5px 15px !important
}
.orders-aside li{
  border-bottom:1px solid rgb(100, 100, 100);
}
.orders-aside li a{
  color:#ffffff;
  /*font-family: 'Amino-Regular7', sans-serif;*/
}
.orders-aside li a:hover{
  color:#c9c9c9;
}

.order-title{
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-size:1.44em;
  color: #293737;
}
.order-sub-nav li a{
  color:#666666;
}
.order-sub-nav li .active{
  position: relative;
}
.order-sub-nav li .active:after{
  content: " ";
  position: absolute;
  top:90%;
  left:35%;
  border-bottom:2px solid #acbb16;
  width:30%;
}
.order-nav-title{
  /*font-family: 'Amino-Regular5',sans-serif;*/
  color:#666;
  font-size: .9em;
}

.order-body{
  /*font-family: 'Amino-Regular7',sans-serif;*/
  font-size: .9em;
  background: #fff;
  border:1px solid rgb(224, 224, 224);
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.04);
}
.order-body-no-order{
  /*font-family: 'Amino-Regular7',sans-serif;*/
  font-size: .9em;
  background: #fff;
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 15px;

}
.order-body div a{
  /*font-family: 'Amino-Regular5',sans-serif;*/
  font-size: .85em;
  color:#222;
  border:1px solid #dddddd;
  background:#fafafa;
  padding:10px 15px;
  border-radius: 5px;
}
.order-id{
  color: #666666 !important;
}
.pad-order{
  padding-left: 20px;
  padding-right: 20px;
}
.order-body .order-id{
  word-wrap: break-word;
}
.pad-order1{padding-right:20px;}
.order-body1{
  margin-top: 10px;

}
.bg-status{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .111);
}
.pad-order div .custom-select {
  height: calc(1.8rem + 2px);
  padding: .28rem 1.75rem .375rem .75rem;
}

.sold{color:#08BD51;}
.beingDelivered{color:blue;}
.cancelled{color:red;}
.shipped{color:#08BD51;}

.dashboard{
  color: #08bd51;
  border:2px solid #08bd51;
  border-left:none;
  padding: 0.2em 0 !important;
  margin-left:-1px;
  border-radius: 0 5px 5px 0;
}
.no-pad-link{
  padding-left:0 !important;
  margin-right:10px;
}

.dashboard span{
  /*font-family: 'Amino-Regular7',sans-serif;*/
  padding: 0.6em 2em 0.8em 0.6em !important;
  font-size:.85em;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.04);
}
.no-hover{
  background:#efefef;
}
.no-hover a:hover{
  background:none !important;
}
.side-bar a:hover path{
  fill:gb(165, 161, 161);
  stroke:rgb(165, 161, 161);
}
.side-bar a{
  /*font-family: 'Amino-Regular7',sans-serif;*/
}
.side-bar a:hover{
  background:#384B4B;
  background:rgb(54, 77, 77);
}
.side-bar .side-bar.active{
  position: relative;
  background:#384B4B;
}
.side-bar .side-bar.active:before{
  position: absolute;
  content: " ";
  left:0;
  border:3px solid #08BD51;
  border:3px solid #acbb16;
  height: 100% !important;
  top:0; 
}
.side-bar-submenu{
  list-style-type: none !important;
  border-top:1px solid #686868;
}
.side-bar-submenu li{
  font-size:.86em;
  border-bottom:1px dotted #686868 !important;
}
/* .side-bar-submenu li a{
  background: #293737;
  background: #283d3d;
} */
.side-bar-submenu .sidebar-item .active{
  position: relative;
  border-bottom:1px dotted #acbb16;
}
.side-bar-submenu .sidebar-item .active:after{
  position: absolute;
  content: " ";
  background: #08BD51;
  background: #acbb16;
  top:0;
  left:0;
  border:1px dotted #08bd51;
  border-style: groove;
  /* border-left:none; */
  border-style: double;
  height: 100%;
 filter: opacity(5%);
  width:100%;
}

.accordion .collapse-sidebar:after {
  align-self: center !important;
  /*font-family: 'FontAwesome';  */
  /* content: "\f068"; */
  content: "\f107"; 
  float: right !important; 
  right:6% !important;
  position: absolute;
}
.accordion .collapse-sidebar.collapsed:after {
  /* symbol for "collapsed" panels */
  /* content: "\f067";  */
  content: "\f105";
}
/*========dashboard==============*/
.dashboard-card1,.dashboard-card2{position: relative;}
.dashboard-card1:before{
  height: 100%;
  content: " ";
  position: absolute;
  width: 100%;
  left: 0;
  filter: opacity(.8);
  border-radius: 5px;
  z-index: -1;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.14);
  background: -moz-linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, -90deg, color-stop(0, 08BD51), color-stop(32%, 0BA717), color-stop(100%, 8CBB20));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
  background: linear-gradient(-90deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* W3C */
}
.dashboard-card2:before{
  height: 100%;
  content: " ";
  position: absolute;
  width: 100%;
  filter: opacity(.8);
  z-index: -1;
  left: 0;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.14);
  background: -moz-linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, 180deg, color-stop(0, 08BD51), color-stop(32%, 0BA717), color-stop(100%, 8CBB20));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
  background: linear-gradient(180deg, #08BD51 0, #0BA717 32%, #8CBB20 100%);/* W3C */
}
.pad-dashboard{
  padding-left:30px;
}
.dashboard-card div svg{
  height: 50px;
  width: 50px;
}
.pad-dashboard-card{
  padding-left:25px;
}
.pad-dashboard.border-bottom p{
  margin-top:1rem;
}
.dashboard-no{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#fff;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
}
.dashboard-sub-text{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#fff;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.092);
  font-size: .9em;
}
.pad-dashboard p svg{
  width: 20px;
  height: 20px;
}
.dashboard-message{
  position: relative;
  color:#888888;
}
.dashboard-message-sub{
  color:#aaa;
  padding-left:25px;
}

.dashboard-message:before{
  align-self: baseline !important;
  /*font-family: 'FontAwesome';  */
  content: "\f0e0"; 
  position: absolute;
  color:#aaaaaa;
  margin-top:-.06em !important;
}
.dashboard-activity-img img{
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  /* margin-right: 30px; */
  border-radius: 50%;
  vertical-align: middle;
}
.dashboard-activity-title{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#444444;
  font-size:.8em;
}
.dashboard-activity-subtitle{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  color:#aaaaaa;
  font-size:.7em;
}
.dashboard-activity-body{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  color:#444444;
  font-size:.8em;
}
.dashboard-border{
  border:1px solid #efefef;
  border-radius:5px;
}
.dashboard-border-bottom{position: relative;}
.dashboard-border-bottom:after{
  content: " ";
  position: absolute;
  bottom:0;
  border-bottom:1px solid #efefef;
  width: 90%;
  left:5%;
}
.product-bookmarked{color:#B5174E;}
.product-requested{color:#369015;}
.product-received{color:#1F93DB;}
.dashboard-link{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  color:#444444;
  font-size:.9em;
  text-decoration: underline;
}
.dashboard-link:hover,.dashboard-activity-title:hover{
  color:#444444;
  text-decoration: none;
}
.dashboard-main-link:hover .dashboard-sub-text{
  text-decoration: underline;
  transition: all .4s;
}
/* =========profile============ */
/* .profile-img{
  width:35%;
  max-width:50%;
  border-radius: 4px;
} */
.upload-pic-link{
  color:#666666;
  text-decoration: underline;
  transition: all 0.6s;
}
.new-line{
  text-decoration:underline;
  transition: all 0.6s;
}
.new-line:hover{
  text-decoration:none;
  color:#08bd51;
  transition: all 0.6s;
}
.upload-pic-link:hover{
  color:#08BD51;
  transition:all 0.6s;
  text-decoration: none;
}
.acct-form label{
  font-size:.95em;
  margin-top: 10px;
}
.sample-label{
  font-size:.95em;
  margin-top: 10px;
}
.user-profile-pic{
  display: inline-block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
  border:2px solid #FF9914;
}
.profile-name{
  font-size:1.1em;
  color:#666666;
}
.profile-status{
  font-size:.8em;
  color:white;
  padding:8px 12px;
  border-radius: 3px;
}
.profile-status-pending{
  background:#A2A2A2;
}
.profile-status-flagged{
  background:#2660A4;
}
.profile-status-seller{
  background:#CE376C;
}
.profile-status-buyer{
  background:#56AA3F;
}
.profile-border{position: relative;}
.profile-border:after{
  content: " ";
  position: absolute;
  top:5%;
  /* border-right:1px solid #efefef; */
  border-right:1px solid #eeebeb;
  right: 0%;
  height: 90%;
}
.profile-edit a{
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-size:.9em;
  color:#888888;
  border:1px solid #888888;
  padding:8px 10px;
  transition: all .4s;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 1px inset rgba(0, 0, 0, 0.04);
}
.profile-edit a:hover{
  color:#08BD51;
  border:1px solid #08BD51;
  transition: all .4s;
}
.profile-edit a:first-child{
  margin-right: 10px;
}
.profile-tab-nav .nav-item{
  /*font-family: 'Amino-Regular7', sans-serif;*/
  font-size: 1em;
  transition: all .4s;
  color:#696F6F;
}

.profile-tab-nav .nav-link.active{
  color:#293737;
  transition: all .4s;
  border:none;
  background:none;
  position: relative;
}
.profile-tab-nav .nav-link.active:after{
  content:" ";
  position: absolute;
  bottom:0;
  left:0%;
  width:90%;
  border-bottom:3px solid #acbb16;
}
.profile-view-title{
  color:#aaaaaa;
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size:.9em;
}
.profile-view-body{
  color:#666666;
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size:.9em;
}
.btn-profile[type="submit"]{
  color:#fff;
  background:#08BD51  !important;
  transition:all 0.6s;
}
.btn-profile[type="submit"]:hover{
  color:#fff  !important;
  background:rgb(5, 148, 62) !important;
  transition:all 0.6s;

}

/* bookmark */
.bookmarked-img{
  width: 50px;
  height: 50px;
  border-radius:3px;
  object-fit: cover;
  background: #ddd center no-repeat;
}
.table-icon th{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size: .9em;
  color:#444;
}
.table-icon td{
  /*font-family: 'Amino-Regular4', sans-serif;*/
  font-size: .9em;
  color:#666;
}
.table-icon td a{
  text-decoration: underline;
  /*font-family: 'Amino-Regular5', sans-serif;*/
  transition:all 0.5s;
  font-size: .9em;
  color:#666;
}
.table-icon td a:hover{
  text-decoration: none;
}
.table-icon td i{
  color:rgb(145, 1, 1);
  transition:all 0.5s;
}
.table-icon td i:hover{
  cursor: pointer;
  color:rgb(83, 3, 3);
  transition:all 0.5s;
}
.height-100{
  height: 100vh;
  position: relative;
}
.send-chat{
  position: absolute;
  bottom: 0;
}
/* error page */

.error-title{
/*font-family: 'Amino-Regular5', sans-serif;*/
font-size: 210px;
font-weight: 900;
text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;
color:#08bd51;
line-height: 210px;
}
.error-sub-title{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  font-size: 4em;
  color:#08bd51;
}
.error-body{
  /*font-family: 'Amino-Regular5', sans-serif;*/
  color:#888888;
  font-size:1.5em;  
}
.error-link{
  background: #08bd51;
  border-radius: 25px;
  transition: all .5s;
  color:#fff;
  padding:10px 20px;
}
.error-link:hover{
  color:#fff;
  background: #00742e;
  transition: all .5s;
}
/* media queries */
  @media (min-width:1802px) and (max-width:2166px){
    
    .body-bg-login{
      background: url('../images/shutterstock_7842929.jpg') no-repeat;
      background-size: cover;
      position: relative;
      padding-bottom: 8em;
      background-position: left 0px top -400px;
  }
  .login-top{
    margin-top:30%;
  }

  }
  @media (min-width:2166px) and (max-width:2800px){
    
    .body-bg-login{
      background: url('../images/shutterstock_7842929.jpg') no-repeat;
      background-size: cover;
      position: relative;
      padding-bottom: 8em;
      background-position: left 0px top -500px;
  }
  .login-top{
    margin-top:30%;
  }
  .login-bg{
    margin-top:15%;
    margin-bottom:-25%;
  }
  }
  @media screen and (min-width:768px){
    .hidden{
      display:none !important;
    }
    .user-placeholder {
      background: #dce0eb url('../images/profile1.png') center no-repeat;
      background-size: 80px;
      display: inline-block;
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-right: 30px;
      border-radius: 50%;
      vertical-align: middle;
    }
    .picture{
      display: inline-block;
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-right: 30px;
      border-radius: 50% !important;
      vertical-align: middle;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 851px) {
    .profile-break{display: block;}
  }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
.how-it-works-img-bg{
    height: 320px;
    background: url("../images/shutterstock_550794592.jpg") no-repeat;
    background-size: 200px;
    background-position: right top 110px;
  }
}
@media (min-width:1024px) and (max-width:1263px){
  .link-color,.link-color1, .login-forgot-pass{
    font-size:0.9em !important;
  }
  .body-bg-login{
    background: url('../images/shutterstock_7842929.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 8em;
    background-position: left 0px top -100px;
}
}
@media (min-width:767px) and (max-width:2600px){
    .relative{
    position: relative;
    margin-bottom:10px;
}
}

@media (min-width:767px){
  .pull-chat-right{
   width:90%!important;
  }
}

  @media (min-width:992px) and (max-width:1347px){
    .profile-status{
      margin-bottom:20em !important; 
    }
  }
    @media (min-width:768px) and (max-width:797px){
      .profile-edit span{
        display:block;
      } 
      .profile-edit span:first-child{
        margin-bottom: 15px;
      } 
    }
      @media (min-width:992px) and (max-width:1293px){
   .profile-edit span{
     display:block;
   } 
   .profile-edit span:first-child{
    margin-bottom: 15px;
  } 
  }
    @media (min-width:992px) and (max-width:1263px){
  .dashboard-activity-img, .dashboard-body-width{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}

@media (min-width:766px) and (max-width:1199px){
  .accordion .collapse-sidebar {
    position: relative;
  }
  .accordion .collapse-sidebar:after {
    /* content: "\f068"; */
    /* right:6% !important; */
    top:35% !important;
  }
}
@media (min-width:992px) and (max-width:1264px){
  .profile-break{
    display: block;
  }

}

@media (min-width:992px) and (max-width:1120px){
  .translate {
    top: 45%;
}
  .commodities-br{display: block;}
}
  @media (min-width:992px) and (max-width:1039px){
  .buy-header h5 button[type ="button"]{
    font-size:.63em !important;
  }

}

@media screen and (min-width: 991px) {
  .how-it-works-img-bg{
    background: url("../images/shutterstock_550794592.jpg") no-repeat;
    width: calc(100% - 300px);
    background-size: 460px;
    background-position: left -190px top 0px;
    padding-bottom: 50px;
  }
}

@media (max-width:1440px){
  .register-login-top{
    margin-top:50% !important;
  }
}
  @media (max-width:1200px){
    .nav-pad{
      padding-left:5%;
      padding-right:5%;
    }
    /* users dashboard========== */
    .side-bar a{
      font-size:.9em;
      width:100% !important;
      display: inline-block !important;
    }
    .side-bar a svg{
      display:block;
      width:100% !important;
    }
    li .side-bar span{
      display:block;
      padding: 0 !important;
      padding-top:5px !important;
      width:100% !important;
      text-align: center;
    }
    
  }
  @media (max-width:1073px){
    .page-no{
      font-size:.8em;
    }
  }
  @media (max-width:1055px){
    .nav-pad{
      padding-left:3%;
      padding-right:3%;
    }
    .new-subnav-pad .order-pg{
      margin-right: .6em;
    
    } 
  }
  @media (max-width:1024px){
    .dropdown-width{
      width: 40vw !important;
    }
    .aim-title{
      padding-top: 3rem;
    }
    .pull-mobile{
      position: relative;
      right:0vw;
    }
   
    .new-subnav-pad .order-pg{
      margin-right: 0.4em !important;
    } 
    .icon-resize svg{
      width: 60px;
      height: 70px;
    }
    .statistics{
      font-size:1.1em;
    }
    .statistics-sub{
      font-size:.8em;
    }
    .dashboard-no{
    font-size: 1.4em;
    }
    .dashboard-sub-text{
    font-size: .8em;
    }
  .login-top{
  margin-top:45%;
}
  }
  @media(max-width:991px){
   
    .profile-border:after{
      content: " ";
      position: absolute;
      top:5%;
      /* border-right:1px solid #efefef; */
      border-right:none;
      right: 0%;
      height: 90%;
    }
    .collapse .top-nav a img{display:none;}
    .dashboard-no{
      font-size: 1.5em;
    }
   .profileDropdown a, .collapse .top-nav .dropdown a{
      text-align: left !important;
    }
    .profileDropdown .dropdown-menu a{
      /*font-family: 'Amino-Regular4', sans-serif;*/
      font-size:.92em !important;
      position: relative;
      left:10%;
      padding: .2rem 1.5rem;
      color: rgb(219, 208, 208);
    } 
    .profileDropdown .dropdown-menu a:hover{
      background:none !important;
    }
    .profileDropdown{position: relative;}
    .profileDropdown .dropdown-menu {
      background:transparent !important;
      position: relative;
      width: 100% !important;
    }
    .after-login .menu li a img{
      display: none !important;
    }
    
    
    .collapse .top-nav .dropdown .dropdown-menu{
      background: transparent ;
    }
    .collapse .top-nav .dropdown .dropdown-menu{
      /*font-family: 'Amino-Regular4', sans-serif;*/
      padding-left:70px;
    }
      .dashboard-sub-text{
      font-size: .9em;
      }
    .how-it-works-img-bg{
      width: calc(100% - 300px);
      background-size: 360px;
      background-position: left -240px top 20px;
      padding-bottom: 0px;
    }
    .how-it-works-img-bg{
      height: 220px;
    }
    .how-it-works-bg{
      padding-bottom: 0em;
    }
    .section-title-black{
      font-size:20px;
      padding-bottom:0px;
    }
    .register-link-white{margin-left:15px;}
   .section-title-white{
      font-size:20px;
      margin-top:10%;
      padding-left:15px;
      padding-bottom:0px;
    }
   
    .translate{
      left: 70%; 
    }
    .pull-mobile{
      position: relative;
      left:0vw;
    }
    .nav-pad{
      padding-left:3%;
      padding-right:2%;
    }

	.indicator{
		position: absolute;
		left: -65vw !important;
  }

	#width{
		width: 20rem !important;
	}

#sponsor-btn a{
	padding:15px 28px !important;
}
#sponsor-btn a:first-child{
	margin-right:10px !important;
}
#sponsor-btn a:last-child{
	margin-left:10px !important;
	
}
.top-nav .active::after{
 
  border-bottom:none;
}
.carousel-btn{display:none;}
/* .login-bg{
  margin-top:15%;
  margin-bottom:-60%;
} */
.body-bg-login{
  background: url('../images/shutterstock_7842929.jpg') no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 8em;
  background-position: left 0px top -100px;

}
.verified-margin{
  margin-right: 1.5em;
  margin-left: 1.5em;
}
.accnt-info-title {
  font-size: 1.4em;
}
.error-title{
  font-size: 190px;
  line-height: 180px;
  }
  .error-sub-title{
    font-size: 3em;
  }
  .error-body{
    font-size:1.2em;  
  }
  .error-link{
    border-radius: 25px;
    color:#fff;
    padding:10px 20px;
  }
  .pad-dashboard-profile {
    padding-left: 0px;
}
}
@media (max-width:767px){
#chats{
  background:#fefefe;
  position: absolute;
  height: 100vh;
  z-index: 100;
  top:0px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, .041);
}
.touch-list-width{
  width:74%;
}
.sub-title{
  /*font-family: 'Amino-Regular7';*/
  font-size:1rem;
}
.touch-list-width li:hover{
  background: #fff;
}
  .collapse .top-nav .dropdown{
    display: block !important;
  }
  .link-color,.link-color1, .login-forgot-pass{
    font-size:0.9em;
  }
  .aim-title{
    padding-top: 0.9rem;
  }
  .our-aim-bg img {
    padding-top: 3rem;
}
.dropdown{display:none;}
.profileDropdown{display: block;}
.how-it-works-img-bg{
  background: url("../images/shutterstock_550794592.jpg") no-repeat;
  width: calc(100% - 300px);
  background-size: 460px;
  background-position: right -150px top 0px;
  padding-bottom: 60px;
}
.translate{
  transform:none;
  position: static;
  margin-left:5%;
  top: 50%;
  left: 60%; 
}
.title {
  font-size: 1.3rem;

}
.section-title-white{
  font-size:20px;
  margin-top:10%;
  padding-left:10%;
  padding-bottom:0px;
}
.register-link-white{
  margin-left:10%;
}
.how-it-works-bg{
  padding-bottom:10%;
}
.body-bg {
  background-position: left 0px top -100px;
}

@-webkit-keyframes slideOutFromLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutFromLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutFromLeft {
  -webkit-animation-name: slideOutFromLeft;
  animation-name: slideOutFromLeft;
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes slideInFromLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInFromLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInFromLeft {
  -webkit-animation-name: slideInFromLeft;
  animation-name: slideInFromLeft;
}
.animatedSlide {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.aside-mobile{
  position: fixed;
  width:75% !important;
  box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background:#fff;
  top:0;
  height: 100% !important;
  left: 0;
  overflow-y: scroll;
  transition: left 0.4s ease-in-out;
}
.orders-aside{
  margin-top:2.8em;
}
.close-btn{
  position: absolute;
  z-index: 1001;
  right: 17%;
  top:-8%;
  margin-top:3em !important;
}
.hide-sidebar{
  position: fixed;
}
.filter-link{
  border:2px solid #0BA717;
  color: #0BA717;
  border-left:none;
  padding:10px 20px;
  border-radius: 0 4px 4px 0;
}
.filter-link:hover{
  color:#666666;
}
.move-margin{
  margin-left:-20px;
}
.results{
  color: #888888;
}
.number{
  color: #666666;
}
.hidden{
  display:none !important;
}

.hidden{
  display:none !important;
}
.user-placeholder {
  background: #dce0eb url('../images/profile1.png') center no-repeat;
  background-size: 80px;
  display: inline-block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 50%;
  vertical-align: middle;
}
.picture{
  display: inline-block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 50% !important;
  vertical-align: middle;
}
.side-bar a{
  font-size:.9em;
  display: flex !important;
}
.side-bar a svg{
  align-self: center!important;
  width:16px !important;
}
li .side-bar span{
  display:block;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left:1rem !important;
  width:auto !important;
  text-align: center;
}
.top{
  margin-top:2em !important;
}
.top1{
  margin-top:0em !important;
}
.register-login-top{
  margin-top:55% !important;
}
.pad-dashboard {
  padding-top: 0px;
}
.pad-dashboard-profile {
  padding-top: 20px;
}
}
@media (max-width:680px){
  .product-name-bold{
    font-size:1.4em;
  }
 
  .product-sub-title2{
    font-size:1.3em;
  }
  .product-sub-title1{
    font-size:1.2em;
  }
  .body-bg {
    background-position: left 0px top -70px;
  }
  .register-login-top{
    margin-top:60% !important;
  }
  .personal-chat-list{
    /*font-family: 'Amino-Regular5', sans-serif;*/
    color:#666;
    font-size: .8em;
  }
  .accnt-info-title {
    font-size: 1.4em;
  }
  .error-title{
    font-size: 150px;
    line-height: 130px;
    }
    .error-sub-title{
      font-size: 2em;
    }
    .error-body{
      font-size:1em;  
    }
    .error-link{
      border-radius: 18px;
      padding:8px 15px;
    }
}
@media(max-width:639px){
  /* .personal-chat-list, .personal-chat-list-date{
    margin:0;
    display: block;
    text-align: center;
  } */
  /* .chat-profile-link img{
    margin:auto !important;
    display: block !important;
  } */
}
@media (max-width:624px){
  .body-bg {
    background-position: left 0px top 0px;
  }
.register-login-top{
    margin-top:70% !important;
  }
}
@media (max-width:595px){
    .profile-break{display: block;}
    .profile-tab-nav .nav-item{
      font-size: .9em;
    }
} 
@media (max-width:552px){
  .how-it-works-img-bg{
    background: none;
  }
 
  .login-top{
    margin-top:50%;
  }
  .verified-margin{
    margin-right: .5em;
    margin-left: .5em;
  }
  .login-title{font-size:.9em !important;}
  .sample-title{
    font-size:1.3rem;
  }
  .sample-name{
    font-size:1rem;
  }
  .sample-small{
    font-size:.788rem;
  }
  .sample-price{
    font-size:.9rem;
  }
  .sample-total-price{
    font-size: 1.3em;
    letter-spacing: .05em;
  }
  .unit{
    font-size:.75rem;
  }
  .dashboard-no{
    font-size: 1.38em;
    }
    .dashboard-sub-text{
    font-size: .8em;
    }
    .dashboard-card div svg{
      height: 40px;
      width: 40px;
    }
    .register-login-top{
      margin-top:80% !important;
    }
    /* .personal-chat-list-date{display: none;} */
    .personal-chat-list{
      line-height: 1.5;
      padding-bottom:10px;
      padding-left:0px !important;
      padding-right:0px !important;
      /* font-size: .68em; */
    }
    .error-title{
      font-size: 130px;
      line-height: 110px;
      }
      .error-sub-title{
        font-size: 1.5em;
      }
      .error-body{
        font-size:.9em;  
      }
      .error-link{
        border-radius: 15px;
      }
}
@media (max-width:425px){
  .footer-list{
    -webkit-padding-start: 10px;
  }
  .link-color, .link-color1, .login-forgot-pass{
    font-size:0.8em;
  }
  .verified-margin{
    margin-right: 0em;
    margin-left: 0em;
  }
  .get-verified-p{
    font-size:13px;
  }
  .icon-resize svg{
    width: 60px;
    height: 70px;
  }
  .statistics{
    font-size:1em;
  }
  .statistics-sub{
    font-size:.7em;
  }
  .login-top{
    margin-top:65% !important;
  }
  .register-login-top{
    margin-top:90% !important;
  }
}
@media(max-width:391px){
  .profile-tab-nav .nav-item{
    font-size: .85em;
  }
  .profile-tab-nav .nav-link{
    padding: .5rem .4em;
  }
}
@media (max-width:375px){
    .verify-link a {
    font-size: .7em;
}
.login-top{
  margin-top:80% !important;
}
.dashboard span{
  padding: 0.6em 2em 0.8em 0em !important;
}
.error-title{
  font-size: 100px;
  line-height: 90px;
  }
  .error-sub-title{
    font-size: 1.2em;
  }
  .error-body{
    font-size:.8.3em;  
  }
  .error-link{
    border-radius: 15px;
  }
}







